#textdomain wesnoth-World_Conquest_II

#define STR_CAMPAIGN_ERAS_KNOWN
    {STR_ERA_ID_WC_II} #enddef

#define STR_CAMPAIGN_WC_II_SCENARIOS_ID
    {STR_SCENARIO_START_ID 3},{STR_SCENARIO_START_ID 2},{STR_SCENARIO_START_ID 1} #enddef

#define STR_CAMPAIGN_WC_II_NAME
    _ "World Conquest II" #enddef

#define STR_COLOR_HELP STRING
    "<span color='#$wct.color.help|'>"+{STRING}+"</span>" #enddef

#define STR_COLOR_BONUS STRING
    "<span color='#$wct.color.bonus|'>"+{STRING}+"</span>" #enddef

#define STR_COLOR_PLAYER STRING
    "<span color='#$player[$side_number].color.text|'>"+{STRING}+"</span>" #enddef

#define STR_COLOR_PLAYER_I PLAYER STRING
    "<span color='#$player[{PLAYER}].color.text|'>"+{STRING}+"</span>" #enddef

#define STR_TERRAIN_MODIFICATION_DESCRIPTION
    _ "Improves decorative terrain destruction to villages and snowed forests. Also adds different forests for map decoration. Players and observers will need add on installed to join game." #enddef

#define STR_DEFEAT
    _ "No! This is the end!" #enddef

#define STR_PROMOTION
    _ "Don't lose heart comrades, we can still win this battle." #enddef

#define STR_ENEMY_PET
    _ "$enemy_themed.boss.name|'s pet" #enddef

#define STR_EXPENSIVE_RECALL
    _ "You must have at least $unit.variables.wct_recall_cost gold pieces to recall that unit." #enddef