## MP Campaign (Scenarios in Multiplayer >> Random Maps)

#textdomain wesnoth-World_Conquest_II

{~add-ons/World_Conquest_II/config.cfg}

#ifver WC_II_CONFIG_TRANSLATED == yes
    [textdomain]
        name="wesnoth-World_Conquest_II"
        path=data/add-ons/World_Conquest_II/translations
    [/textdomain]
#endif

#ifdef MULTIPLAYER
    [binary_path]
        path=data/add-ons/World_Conquest_II
    [/binary_path]

    {~add-ons/World_Conquest_II/utils}
    {~add-ons/World_Conquest_II/scenarios}
    {~add-ons/World_Conquest_II/terrain-graphics}

    {WORLD_CONQUEST_II_ERA}
    {WORLD_CONQUEST_TEK_MAP_TERRAIN_MODIFICATION}
#endif

#ifdef EDITOR
    [binary_path]
        path=data/add-ons/World_Conquest_II
    [/binary_path]
    [editor_group]
        id=World Conquest II
        name= _ "World Conquest II"
        icon="group_custom2"
    [/editor_group]

    {~add-ons/World_Conquest_II/terrain-graphics}
#endif

