#textdomain wesnoth-lib

## old tropical
[terrain_type]
    symbol_image=../terrain/wct-tropical-tile
    editor_name= _ "Tropical Forest"+" (old)"
    editor_group=World Conquest II
    id=wct_tropical_forest
    name= _ "Forest"
    string=^Fyt
    aliasof=_bas,Ft
    mvt_alias=-,_bas,Ft
[/terrain_type]
{OVERLAY_RANDOM *^Fyt (../terrain/wct-tropical)}


## unsnowable forest: changed usual convention of add "a" to snowed string. Instead, for easier destruction code, added "u" to no snowed forests.
## pine and mixed can not be "converted"

## decidius
[terrain_type]
    symbol_image=../terrain/forest/deciduous-winter
    editor_name= _ "Winter Deciduous Forest"+" j"
    editor_group=World Conquest II
    id=decidius_forest_winter_j
    name= _ "Forest"
    string=^Fzju
    aliasof=_bas,Ft
    mvt_alias=-,_bas,Ft
[/terrain_type]
{OVERLAY *^Fzju (../terrain/forest/deciduous-winter)}

[terrain_type]
    symbol_image=../terrain/forest/deciduous-winter2
    editor_name= _ "Winter Deciduous Forest"+" k"
    editor_group=World Conquest II
    id=decidius_forest_sparse_winter_k
    name= _ "Forest"
    string=^Fzku
    aliasof=_bas,Ft
    mvt_alias=-,_bas,Ft
[/terrain_type]
{OVERLAY *^Fzku (../terrain/forest/deciduous-winter2)}

[terrain_type]
    symbol_image=../terrain/forest/deciduous-winter-sparse
    editor_name= _ "Winter Deciduous Forest"+" g"
    editor_group=World Conquest II
    id=decidius_forest_sparse_winter_g
    name= _ "Forest"
    string=^Fzgu
    aliasof=_bas,Ft
    mvt_alias=-,_bas,Ft
[/terrain_type]
{OVERLAY *^Fzgu (../terrain/forest/deciduous-winter-sparse)}

[terrain_type]
    symbol_image=../terrain/forest/deciduous-winter-sparse2
    editor_name= _ "Winter Deciduous Forest"+" h"
    editor_group=World Conquest II
    id=decidius_forest_sparse_winter_h
    name= _ "Forest"
    string=^Fzhu
    aliasof=_bas,Ft
    mvt_alias=-,_bas,Ft
[/terrain_type]
{OVERLAY *^Fzhu (../terrain/forest/deciduous-winter-sparse2)}

[terrain_type]
    symbol_image=../terrain/forest/deciduous-winter-sparse3
    editor_name= _ "Winter Deciduous Forest"+" i"
    editor_group=World Conquest II
    id=decidius_forest_winter_i
    name= _ "Forest"
    string=^Fziu
    aliasof=_bas,Ft
    mvt_alias=-,_bas,Ft
[/terrain_type]
{OVERLAY *^Fziu (../terrain/forest/deciduous-winter-sparse3)}

[terrain_type]
    symbol_image=../terrain/forest/deciduous-winter-snow
    editor_name= _ "Snowy Deciduous Forest"+" j"
    editor_group=World Conquest II
    id=snow_decidius_forest_winter_g
    name= _ "Forest"
    string=^Fzj
    aliasof=_bas,Ft
    mvt_alias=-,_bas,Ft
[/terrain_type]
{OVERLAY *^Fzj (../terrain/forest/deciduous-winter-snow)}

[terrain_type]
    symbol_image=../terrain/forest/deciduous-winter-snow2
    editor_name= _ "Snowy Deciduous Forest"+" k"
    editor_group=World Conquest II
    id=snow_decidius_forest_winter_h
    name= _ "Forest"
    string=^Fzk
    aliasof=_bas,Ft
    mvt_alias=-,_bas,Ft
[/terrain_type]
{OVERLAY *^Fzk (../terrain/forest/deciduous-winter-snow2)}

[terrain_type]
    symbol_image=../terrain/forest/deciduous-winter-snow-sparse
    editor_name= _ "Snowy Deciduous Forest"+" g"
    editor_group=World Conquest II
    id=snow_decidius_forest_sparse_winter_g
    name= _ "Forest"
    string=^Fzg
    aliasof=_bas,Ft
    mvt_alias=-,_bas,Ft
[/terrain_type]
{OVERLAY *^Fzg (../terrain/forest/deciduous-winter-snow-sparse)}

[terrain_type]
    symbol_image=../terrain/forest/deciduous-winter-snow-sparse2
    editor_name= _ "Snowy Deciduous Forest"+" h"
    editor_group=World Conquest II
    id=snow_decidius_forest_sparse_winter_h
    name= _ "Forest"
    string=^Fzh
    aliasof=_bas,Ft
    mvt_alias=-,_bas,Ft
[/terrain_type]
{OVERLAY *^Fzh (../terrain/forest/deciduous-winter-snow-sparse2)}

[terrain_type]
    symbol_image=../terrain/forest/deciduous-winter-snow-sparse3
    editor_name= _ "Snowy Deciduous Forest"+" i"
    editor_group=World Conquest II
    id=snow_decidius_forest_sparse_winter_i
    name= _ "Forest"
    string=^Fzi
    aliasof=_bas,Ft
    mvt_alias=-,_bas,Ft
[/terrain_type]
{OVERLAY *^Fzi (../terrain/forest/deciduous-winter-snow-sparse3)}