########################################
#define WCT_MAP_GENERATOR_PROVINCES LENGTH VILLAGES CASTLE ITERATIONS SIZE PLAYERS ISLAND
	########################################
	{WCT_GENERATOR_SETTINGS_ARGUMENTS {LENGTH} {VILLAGES} {CASTLE} {ITERATIONS} {SIZE} {PLAYERS} {ISLAND}}
	max_lakes=5
	min_lake_height=225
	lake_size=90
	river_frequency=80
	temperature_size={SIZE}
	roads=90
	road_windiness=6
	## list of common terrain types which come in at different heights, from highest to lowest
	{DR_HEIGHT (990) (Uh^Uf)}
	{DR_HEIGHT (980) (Qxu)}
	{DR_HEIGHT (970) (Uh)}
	{DR_HEIGHT (950) (Uu^Uf)}
	{DR_HEIGHT (920) (Uu)}
	{DR_HEIGHT (915) (Qxu)}
	{DR_HEIGHT (895) (Uh)}
	{DR_HEIGHT (885) (Uu^Uf)}
	{DR_HEIGHT (860) (Uu)}
	{DR_HEIGHT (840) (Uh)}
	{DR_HEIGHT (830) (Uu^Uf)}
	{DR_HEIGHT (800) (Uu)}
	{DR_HEIGHT (750) (Xu)}
	{DR_HEIGHT (725) (Mm^Xm)}
	{DR_HEIGHT (675) (Mm)}
	{DR_HEIGHT (560) (Hh)}
	{DR_HEIGHT (100) (Gg)}
	{DR_HEIGHT (35)  (Ds)}
	{DR_HEIGHT (1) 	 (Ww)}
	{DR_HEIGHT (0) 	 (Wo)}

	## DR_CONVERT MIN_HT MAX_HT MIN_TMP MAX_TMP FROM TO
	## at low temperatures, from medium altitude, snow appears
	{DR_CONVERT (300)  (560)	(0)	(100)	(Gg)     (Aa)}
	{DR_CONVERT (560)  (999)	(0)	(150)	(Hh)     (Ha)}
	## swamps
	{DR_CONVERT (100) (200)	(410)	(690)	(Gg)     (Ss)}
	{DR_CONVERT (370) (400)	(410)	(430)	(Gg)     (Ss)}
	{DR_CONVERT (370) (400)	(525)	(550)	(Gg)     (Ss)}
	## desert appears at extreme temperatures and medium altitude
	{DR_CONVERT (250) (999)	(780)	(999)	(Gg)     (Dd)}
	{DR_CONVERT (560) (590)	(800)	(999)	(Hh)     (Hd)}
	## savannah appears on mod temp and high
	{DR_CONVERT (250) (400)	(500)	(780)	(Gg)     (Gs)}
	## forest appears at moderate temperatures
	{DR_CONVERT (0)	  (999)	(320)	(420)	(Gg)     (Gs^Fp)}
	{DR_CONVERT (0)	  (999)	(320)	(420)	(Hh)     (Hh^Fp)}
	## jungle appears at mod high temperatures
	{DR_CONVERT (0)	  (999)	(450)	(520)	(Gg,Gs)  (Gs^Ft)}
	{DR_CONVERT (0)	  (999)	(450)	(520)	(Hh)     (Hh^Ft)}

	## lava appears at extreme temperature
	{DR_TEMPERATURE Qxu 850 999 Ql}

	{DR_ROAD Gg Re 5}
	{DR_ROAD Gs Re 5}
	{DR_ROAD Gs^Ft Re 15}
	{DR_ROAD Gs^Fp Re 15}
	{DR_ROAD Ss Re 20}
	{DR_ROAD Ds Re 25}
	{DR_ROAD Hh Re 15}
	{DR_ROAD Hh^Fp Re 20}
	{DR_ROAD Hh^Ft Re 20}
	{DR_ROAD Mm Re 35}
	{DR_ROAD Mm^Xm Re 50}
	{DR_BRIDGE Ql Ql^Bs Re 80}
	{DR_BRIDGE Qxu Qxu^Bs Re 80}
	{DR_ROAD Uu Re 10}
	{DR_ROAD Uh Re 35}
	{DR_ROAD Xu Re 50}
	{DR_ROAD Aa Re 20}
	{DR_ROAD Ha Re 20}
	{DR_ROAD Dd Re 15}
	{DR_ROAD Hd Re 20}
	{DR_ROAD Re Re 2}
	{DR_ROADS_OVER_BRIDGES Ww^Bw 2}
	{DR_ROAD Ch Ch 2}
	{DR_BRIDGE Ww Ww^Bw Rb 50}

	[village]
		terrain=Gg
		convert_to=Gg^Vh
		adjacent_liked=Gg, Ww, Ww, Ww, Ww, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Re, Re, Re, Re, Hh, Gs^Fp
		rating=8
	[/village]
	[village]
		terrain=Gs
		convert_to=Gs^Vht
		adjacent_liked=Gg, Gs, Ww, Ww, Ww, Ww, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Re, Re, Re, Re, Hh, Gs^Fp
		rating=5
	[/village]
	[village]
		terrain=Ds
		convert_to=Dd^Vda
		rating=2
		adjacent_liked=Gg, Gs, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Re, Re, Re, Re, Hh, Gs^Fp
	[/village]
	[village]
		terrain=Uu
		convert_to=Uu^Vud
		rating=4
		adjacent_liked=Re,Hh,Mm,Uu,Uh,Xu
	[/village]
	[village]
		terrain=Uh
		convert_to=Uu^Vu
		rating=3
		adjacent_liked=Re,Hh,Mm,Uu,Uh,Xu
	[/village]
	## villages in forest are Elvish
	[village]
		terrain=Gs^Fp
		convert_to=Gg^Ve
		rating=4
		adjacent_liked=Gg, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Re, Re, Re, Re, Hh, Gs^Fp, Gs^Fp, Gs^Fp
	[/village]
	[village]
		terrain=Hh
		convert_to=Hh^Vhh
		rating=4
		adjacent_liked=Gg, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Re, Re, Re, Re, Hh, Gs^Fp
	[/village]
	[village]
		terrain=Mm
		convert_to=Mm^Vhh
		rating=3
		adjacent_liked=Gg, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Re, Re, Re, Re, Hh, Gs^Fp
	[/village]
	## villages in snow
	[village]
		terrain=Aa
		convert_to=Aa^Vha
		rating=3
		adjacent_liked=Gg, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Re, Re, Re, Re, Hh, Gs^Fp
	[/village]
	[village]
		terrain=Aa^Fpa
		convert_to=Aa^Vea
		rating=3
		adjacent_liked=Gg, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Re, Re, Re, Re, Hh, Gs^Fp
	[/village]
	## swamp villages
	[village]
		terrain=Ss
		convert_to=Ss^Vhs
		rating=2
		adjacent_liked=Gg, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Re, Re, Re, Re, Hh, Gs^Fp
	[/village]
	## mermen villages - give them low chance of appearing
	[village]
		terrain=Ww
		convert_to=Ww^Vm
		rating=1
		adjacent_liked=Ww, Ww
	[/village]
	[village]
		terrain=Uu^Uf
		convert_to=Uu^Vud
		rating=3
		adjacent_liked=Hh^Uf,Hh,Mm,Uu,Uh,Xu,Qxu,Uu,Uu^Uf,Uu^Uf,Uh^Uf
	[/village]
	[village]
		terrain=Uh^Uf
		convert_to=Uh^Vud
		rating=2
		adjacent_liked=Hh^Uf,Hh,Mm,Uu,Uh,Xu,Qxu,Uu,Uu^Uf,Uh^Uf,Uh^Uf
	[/village]

	[castle]
		valid_terrain=Gs, Gg, Gs^Fp, Gs^Ft, Hh, Hh^Fp, Hh^Ft, Ss, Mm, Dd, Aa, Ai, Ha
		min_distance=14
	[/castle]
#enddef
