########################################
#define WCT_MAP_GENERATOR_SAVANNAH LENGTH VILLAGES CASTLE ITERATIONS SIZE PLAYERS ISLAND
########################################
{WCT_GENERATOR_SETTINGS_ARGUMENTS {LENGTH} {VILLAGES} {CASTLE} {ITERATIONS} {SIZE} {PLAYERS} {ISLAND}}
max_lakes=10
min_lake_height=150
lake_size=125
river_frequency=100
temperature_size=8
roads=12
road_windiness=10
{DR_HEIGHT (900) (Uh)}
{DR_HEIGHT (800) (Uu)}
{DR_HEIGHT (750) (Xu)}
{DR_HEIGHT (725) (Mm^Xm)}
{DR_HEIGHT (675) (Mm)}
{DR_HEIGHT (550) (Hh)}
{DR_HEIGHT (175) (Gs)}
{DR_HEIGHT (30)  (Ds)}
{DR_HEIGHT (1) 	 (Ww)}
{DR_HEIGHT (0) 	 (Wo)}

## swamp appears on low land, at moderate temperatures
[convert]
    min_temperature=300
    max_temperature=700
    max_height=300
    from=Gg,Gs
    to=Ss
[/convert]
## jungle appears at moderately high temperatures
{DR_TEMPERATURE Gg,Gs 380 430 Gs^Ft}
{DR_TEMPERATURE Gg,Gs 460 520 Gs^Ft}
## fungus appears at medium temperatures and extremely high elevation
## DR_CONVERT MIN_HT MAX_HT MIN_TMP MAX_TMP FROM TO
{DR_CONVERT (825)  (950)	(500)	(525)	(Uu, Uh) (Uu^Uf)}
{DR_CONVERT (825)  (950)	(550)	(575)	(Uu, Uh) (Uu^Uf)}
{DR_CONVERT (825)  (950)	(600)	(625)	(Uu, Uh) (Uu^Uf)}
## lava appears at extreme temperatures and elevation
[convert]
    min_temperature=900
    min_height=800
    from=Uu, Uh, Uu^Uf
    to=Ql
[/convert]
## desert appears at high temperatures
{DR_TEMPERATURE Gs 475 500 Dd}
{DR_TEMPERATURE Gs 600 650 Dd}
{DR_TEMPERATURE Gs 725 775 Dd}
{DR_TEMPERATURE Gs 800 999 Dd}
## dunes appear at extreme temperatures
{DR_TEMPERATURE Hh 625 650 Hd}
{DR_TEMPERATURE Hh 750 775 Hd}
{DR_TEMPERATURE Hh 825 999 Hd}

{WCT_GENERATOR_ROAD_COST_CLASSIC}
{DR_ROAD Ds Re 15}
{DR_ROAD Dd Re 15}
{DR_ROAD Gs^Ft Re 20}
[road_cost]
    terrain=Ww
    cost=50
    convert_to_bridge=Ww^Bw|, Ww^Bw/, Ww^Bw\
    convert_to=Ce
[/road_cost]

{WCT_GENERATOR_VILLAGE 2 8 8 4 3 2 6 3 3 3 5 1}

[castle]
    valid_terrain=Gs, Gg, Gs^Fp, Hh, Ds, Dd
    min_distance=12
[/castle]
#enddef