########################################
#define WCT_MAP_GENERATOR_WRECK LENGTH VILLAGES CASTLE ITERATIONS SIZE PLAYERS ISLAND
########################################
{WCT_GENERATOR_SETTINGS_ARGUMENTS {LENGTH} {VILLAGES} {CASTLE} {ITERATIONS} {SIZE} {PLAYERS} {ISLAND}}
max_lakes=50
min_lake_height=150
lake_size=125
river_frequency=100
temperature_size=9
roads=12
road_windiness=10
{DR_HEIGHT (900) (Uh)}
{DR_HEIGHT (800) (Uu)}
{DR_HEIGHT (750) (Xu)}
{DR_HEIGHT (725) (Mm^Xm)}
{DR_HEIGHT (675) (Mm)}
{DR_HEIGHT (550) (Hh)}
{DR_HEIGHT (300) (Gs)}
{DR_HEIGHT (250) (Ds)}
{DR_HEIGHT (200) (Ss)}
{DR_HEIGHT (150) (Ds)}
{DR_HEIGHT (100) (Ss)}
{DR_HEIGHT (30)  (Ds)}
{DR_HEIGHT (1) 	 (Ww)}
{DR_HEIGHT (0) 	 (Wo)}

## swamp appears on low land, at moderate temperatures
[convert]
    min_temperature=300
    max_temperature=700
    max_height=375
    from=Gs
    to=Ss
[/convert]
## DR_CONVERT MIN_HT MAX_HT MIN_TMP MAX_TMP FROM TO
{DR_CONVERT (425)  (475)	(300)	(700)	(Gs) (Ss)}
## jungle appears at moderate temperatures
[convert]
    min_temperature=200
    max_temperature=700
    from=Gg,Gs
    to=Gs^Ft
[/convert]
## fungus appears at medium temperatures and extremely high elevation
{DR_CONVERT (825)  (950)	(475)	(525)	(Uu, Uh) (Uu^Uf)}
{DR_CONVERT (825)  (950)	(550)	(600) (Uu, Uh) (Uu^Uf)}
{DR_CONVERT (825)  (950)	(625)	(675)	(Uu, Uh) (Uu^Uf)}
## lava appears at extreme temperatures and elevation
[convert]
    min_temperature=850
    min_height=800
    from=Uu, Uh, Uu^Uf
    to=Ql
[/convert]
## desert appears at extreme temperatures
[convert]
    min_temperature=800
    from=Gg
    to=Ds
[/convert]
## dunes appear at extreme temperatures and moderate elevation
[convert]
    min_temperature=800
    min_height=475
    max_height=550
    from=Ds, Hh
    to=Hd
[/convert]

{WCT_GENERATOR_ROAD_COST_CLASSIC}
{DR_ROAD Gs^Ft Re 20}
{DR_ROAD Ds Re 25}
[road_cost]
    terrain=Ww
    cost=50
    convert_to_bridge=Ww^Bw|, Ww^Bw/, Ww^Bw\
    convert_to=Chs
[/road_cost]
[road_cost]
    terrain=Ss
    cost=10
    convert_to_bridge=Ss^Bw|, Ss^Bw/, Ss^Bw\
    convert_to=Chs
[/road_cost]

{WCT_GENERATOR_VILLAGE 5 8 4 4 3 5 4 3 3 3 8 1}

[castle]
    valid_terrain=Gs, Gg, Gs^Fp, Hh, Gs^Ft, Ss
    min_distance=12
[/castle]
#enddef
