#define WORLD_CONQUEST_TEK_MAP_CUSTOM_TERRAIN_MODIFICATION
[modification]
    id= WC II custom terrain v0.6.5
    name= WC II terrain
    require_modification=yes
    description= {STR_TERRAIN_MODIFICATION_DESCRIPTION}
    allow_scenario= {STR_CAMPAIGN_WC_II_SCENARIOS_ID}
    [event]
        name=prestart
        {VARIABLE wct.custom_terrain yes}
        {WCT_MAP_CUSTOM_REPLACE_VILLAGE}
        {WCT_MAP_CUSTOM_REPLACE_FOREST}
        {WCT_MAP_CUSTOM_REPLACE_EMBELLISHMENT}
    [/event]
[/modification]
#enddef

## in order to change just image "look" without change "image base type", replace terrains with ones using just one possible image; so conversion can be done

#define WCT_MAP_CUSTOM_REPLACE_VILLAGE
[store_locations]
    terrain=*^Vh
    variable=terrain_to_change
[/store_locations]
{FOREACH terrain_to_change i}
    {RANDOM (Gg^Vya,Gg^Vyb,Gg^Vyc,Gg^Vyd)}   
    [terrain]
        x=$terrain_to_change[$i].x
        y=$terrain_to_change[$i].y
        terrain=$random
        layer=overlay
    [/terrain]
{NEXT i}
[store_locations]
    terrain=*^Vha
    variable=terrain_to_change
[/store_locations]
{FOREACH terrain_to_change i}
    {RANDOM (Gg^Vyaa,Gg^Vyba,Gg^Vyca,Gg^Vyda)}   
    [terrain]
        x=$terrain_to_change[$i].x
        y=$terrain_to_change[$i].y
        terrain=$random
        layer=overlay
    [/terrain]
{NEXT i}
[store_locations]
    terrain=*^Vhc
    variable=terrain_to_change
[/store_locations]
{FOREACH terrain_to_change i}
    {RANDOM (Gg^Vza,Gg^Vzb,Gg^Vzc,Gg^Vzd)}   
    [terrain]
        x=$terrain_to_change[$i].x
        y=$terrain_to_change[$i].y
        terrain=$random
        layer=overlay
    [/terrain]
{NEXT i}
[store_locations]
    terrain=*^Vhca
    variable=terrain_to_change
[/store_locations]
{FOREACH terrain_to_change i}
    {RANDOM (Gg^Vzaa,Gg^Vzba,Gg^zyca,Gg^Vzda)}   
    [terrain]
        x=$terrain_to_change[$i].x
        y=$terrain_to_change[$i].y
        terrain=$random
        layer=overlay
    [/terrain]
{NEXT i}
{CLEAR_VARIABLE terrain_to_change}
#enddef

#define WCT_MAP_CUSTOM_REPLACE_FOREST
## use sparse for hills
[store_locations]
    terrain=H*^Fda
    variable=terrain_to_change
[/store_locations]
{FOREACH terrain_to_change i}
    {RANDOM (Gg^Fzg,Gg^Fzh,Gg^Fzi)}   
    [terrain]
        x=$terrain_to_change[$i].x
        y=$terrain_to_change[$i].y
        terrain=$random
        layer=overlay
    [/terrain]
{NEXT i}
## use normal elsewhere
[store_locations]
    terrain=*^Fda
    variable=terrain_to_change
[/store_locations]
{FOREACH terrain_to_change i}
    {RANDOM (Gg^Fzj,Gg^Fzk)}   
    [terrain]
        x=$terrain_to_change[$i].x
        y=$terrain_to_change[$i].y
        terrain=$random
        layer=overlay
    [/terrain]
{NEXT i}
{CLEAR_VARIABLE terrain_to_change}
#enddef

#define WCT_MAP_CUSTOM_REPLACE_EMBELLISHMENT
[terrain]
    [and]
        terrain=*^Eff
    [/and]
    terrain=*^Effy
    layer=overlay
[/terrain]
#enddef

#define WCT_MAP_CUSTOM_RUIN_VILLAGE X Y
[terrain]
    x,y={X},{Y}
    [and]
        terrain=*^Vya,*^Vyaa
    [/and]
    terrain=*^Vyar
    layer=overlay
[/terrain]
[terrain]
    x,y={X},{Y}
    [and]
        terrain=*^Vyb,*^Vyba
    [/and]
    terrain=*^Vybr
    layer=overlay
[/terrain]
[terrain]
    x,y={X},{Y}
    [and]
        terrain=*^Vyc,*^Vyca
    [/and]
    terrain=*^Vycr
    layer=overlay
[/terrain]
[terrain]
    x,y={X},{Y}
    [and]
        terrain=*^Vyd,*^Vyda
    [/and]
    terrain=*^Vydr
    layer=overlay
[/terrain]
[terrain]
    x,y={X},{Y}
    [and]
        terrain=*^Vza,*^Vzaa
    [/and]
    terrain=*^Vzar
    layer=overlay
[/terrain]
[terrain]
    x,y={X},{Y}
    [and]
        terrain=*^Vzb,*^Vzba
    [/and]
    terrain=*^Vzbr
    layer=overlay
[/terrain]
[terrain]
    x,y={X},{Y}
    [and]
        terrain=*^Vzc,*^Vzca
    [/and]
    terrain=*^Vzcr
    layer=overlay
[/terrain]
[terrain]
    x,y={X},{Y}
    [and]
        terrain=*^Vzd,*^Vzda
    [/and]
    terrain=*^Vzdr
    layer=overlay
[/terrain]
#enddef

#define WCT_MAP_CUSTOM_UNSNOW_FOREST TERRAIN
[terrain]
    find_in={TERRAIN}
    [and]
        terrain=*^Fzg,*^Fzh,*^Fzi,*^Fzj,*^Fzk
    [/and]
    terrain=${TERRAIN}.terrain|u
    layer=overlay
[/terrain]
#enddef