########################################
#define WCT_MAP_GENERATOR_WETLAND LENGTH VILLAGES CASTLE ITERATIONS SIZE PLAYERS ISLAND
########################################
border_size=0
map_width={LENGTH}
map_height={LENGTH}
iterations={ITERATIONS}
hill_size={SIZE}
villages={VILLAGES}
players={PLAYERS}
island_size={ISLAND}
castle_size={CASTLE}
temperature_iterations=0
max_lakes=80
min_lake_height=300
river_frequency=80
roads=18
road_windiness=2
{DR_HEIGHT (955) (Uh)}
{DR_HEIGHT (945) (Uu^Uf)}
{DR_HEIGHT (900) (Uu)}
{DR_HEIGHT (855) (Uh)}
{DR_HEIGHT (845) (Uu^Uf)}
{DR_HEIGHT (825) (Uu)}
{DR_HEIGHT (775) (Xu)}
{DR_HEIGHT (750) (Mm^Xm)}
{DR_HEIGHT (700) (Mm)}
{DR_HEIGHT (690) (Hh^Uf)}
{DR_HEIGHT (660) (Hh^Fds)}
{DR_HEIGHT (625) (Hh)}
{DR_HEIGHT (615) (Hh^Uf)}
{DR_HEIGHT (600) (Hh^Fds)}
{DR_HEIGHT (500) (Gd)}
{DR_HEIGHT (310) (Gs)}
{DR_HEIGHT (210) (Gg)}
{DR_HEIGHT (70)  (Ss)}
{DR_HEIGHT (1) 	 (Wwt)}
{DR_HEIGHT (0) 	 (Wot)}

[village]
    terrain=Gg
    convert_to=Gg^Vo
    adjacent_liked=Gg, Gs, Ww, Rb, Gd, Gs, Rb, Gg, Gs, Hh, Mm, Hh^Fds, Ss
    rating=8
[/village]
[village]
    terrain=Gs
    convert_to=Gs^Ve
    adjacent_liked=Gg, Gs, Ww, Rb, Rb, Rb, Gd, Rb, Rb, Gs, Hh, Hh^Fds, Hh^Uf, Gg, Gs
    rating=9
[/village]
[village]
    terrain=Gd
    convert_to=Gg^Vo
    adjacent_liked=Gg, Gs, Ww, Rb, Gd, Gs, Rb, Gg, Gs, Hh, Mm, Hh^Fds, Hh^Uf
    rating=8
[/village]
[village]
    terrain=Ss
    convert_to=Ss^Vhs
    adjacent_liked=Gg, Gs, Ww, Rb, Rb, Gd, Gg, Rb, Gg, Gs, Rb
    rating=7
[/village]
## rough villages
[village]
    terrain=Hh
    convert_to=Hh^Vo
    rating=6
    adjacent_liked=Gs, Gs, Ww, Rb, Rb, Gd, Gd, Rb, Rb, Gd, Hh, Hh^Fds, Hh^Uf, Mm
[/village]
[village]
    terrain=Hh^Fds
    convert_to=Hh^Vo
    rating=6
    adjacent_liked=Gs, Gs, Ww, Rb, Rb, Gd, Gd, Rb, Rb, Gd, Hh, Hh^Fds, Hh^Uf, Mm
[/village]
[village]
    terrain=Hh^Uf
    convert_to=Hh^Vo
    rating=6
    adjacent_liked=Gs, Gs, Ww, Rb, Rb, Gd, Gd, Rb, Rb, Gd, Hh, Hh^Fds, Hh^Uf, Mm
[/village]
[village]
    terrain=Mm
    convert_to=Mm^Vo
    rating=5
    adjacent_liked=Gs, Gs, Ww, Rb, Rb, Gd, Gd, Rb, Rb, Gd, Hh, Hh^Fds, Hh^Uf, Mm
[/village]
## cave villages
[village]
    terrain=Uu
    convert_to=Uu^Vud
    rating=6
    adjacent_liked=Hh,Uu,Mm,Uu,Uh,Uh,Uh,Hh^Uf,Xu,Uu^Uf,Mm^Xm
[/village]
[village]
    terrain=Uh
    convert_to=Uu^Vud
    rating=6
    adjacent_liked=Hh,Uu,Mm,Uu,Uh,Uh,Uh,Hh^Uf,Xu,Uu^Uf,Mm^Xm
[/village]
[village]
    terrain=Uu^Uf
    convert_to=Uu^Vud
    rating=6
    adjacent_liked=Hh,Uu,Mm,Uu,Uh,Uh,Uh,Hh^Uf,Xu,Uu^Uf,Mm^Xm
[/village]
## water villages
[village]
    terrain=Wwt
    convert_to=Wwt^Vm
    rating=1
    adjacent_liked=Wwt, Ww, Gs, Gg
[/village]

[road_cost]
    terrain=Gs
    cost=10
    convert_to=Rb
[/road_cost]
[road_cost]
    terrain=Gg
    cost=25
    convert_to=Rb
[/road_cost]
[road_cost]
    terrain=Gd
    cost=25
    convert_to=Rb
[/road_cost]
[road_cost]
    terrain=Ww
    cost=45
    convert_to_bridge=Ww^Bw|, Ww^Bw/, Ww^Bw\
    convert_to=Wwf
[/road_cost]
[road_cost]
    terrain=Hh
    cost=55
    convert_to=Rb
[/road_cost]
[road_cost]
    terrain=Hh`Fds
    cost=55
    convert_to=Rb
[/road_cost]
[road_cost]
    terrain=Hh^Uf
    cost=55
    convert_to=Rb
[/road_cost]
[road_cost]
    terrain=Mm
    cost=70
    convert_to=Rb
[/road_cost]

[castle]
    valid_terrain=Gs
    min_distance=14
[/castle]
#enddef