########################################
#define WCT_MAP_GENERATOR_MARITIME LENGTH VILLAGES CASTLE ITERATIONS SIZE PLAYERS ISLAND
########################################
{WCT_GENERATOR_SETTINGS_ARGUMENTS {LENGTH} {VILLAGES} {CASTLE} {ITERATIONS} {SIZE} {PLAYERS} {ISLAND}}
max_lakes=90
min_lake_height=250
lake_size=60
river_frequency=100
temperature_size=7
roads=20
road_windiness=2
## list of common terrain types which come in at different heights, from highest to lowest
{DR_HEIGHT (910) (Uh)}
{DR_HEIGHT (820) (Uu)}
{DR_HEIGHT (780) (Xu)}
{DR_HEIGHT (765) (Mm^Xm)}
{DR_HEIGHT (725) (Mm)}
{DR_HEIGHT (610) (Hh)}
{DR_HEIGHT (600) (Gg)}
{DR_HEIGHT (590) (Hh^Fp)}
{DR_HEIGHT (580) (Gg)}
{DR_HEIGHT (570) (Gs^Fp)}
{DR_HEIGHT (410) (Gg)}
{DR_HEIGHT (400) (Mm)}
{DR_HEIGHT (360) (Gg)}
{DR_HEIGHT (340) (Hh^Fp)}
{DR_HEIGHT (320) (Gg)}
{DR_HEIGHT (300) (Gs^Fp)}
{DR_HEIGHT (240) (Gg)}
{DR_HEIGHT (220) (Gs^Fp)}
{DR_HEIGHT (200) (Hh^Fp)}
{DR_HEIGHT (180) (Hh)}
{DR_HEIGHT (100) (Gg)}
{DR_HEIGHT (30)  (Ds)}
{DR_HEIGHT (1) 	 (Wwg)}
{DR_HEIGHT (0) 	 (Wog)}

## DR_CONVERT MIN_HT MAX_HT MIN_TMP MAX_TMP FROM TO
## low temperatures
{DR_CONVERT (50)   (999)	(0)	(270)	(Ww, Wo) (Ai)}
{DR_CONVERT (350)  (999)	(0)	(320)	(Gg)     (Aa)}
{DR_CONVERT (330)  (999)	(320)	(370)	(Gg)     (Gd)}
{DR_CONVERT (100)  (999)	(370)	(475)	(Gg)     (Gs)}
{DR_CONVERT (350)  (999)	(0)	(310)	(Gs^Fp)  (Aa^Fpa)}
{DR_CONVERT (350)  (999)	(0)	(345)	(Hh)     (Ha)}
{DR_CONVERT (350)  (999)	(0)	(335)	(Hh^Fp)  (Ha^Fpa)}
{DR_CONVERT (350)  (999)	(0)	(370)	(Mm)     (Ms)}
{DR_CONVERT (350)  (999)	(0)	(390)	(Mm^Xm)  (Ms^Xm)}
## swamp appears on low land, at mod temp
{DR_CONVERT (0)	  (200)	(400)	(700)	(Gg)     (Ss)}
## pine appears at low temperatures
{DR_CONVERT (150)  (999)	(320)	(420)	(Gg)     (Gs^Fp)}
{DR_CONVERT (150)  (999)	(320)	(420)	(Hh)     (Hh^Fp)}
## decidius appears at mod temperatures with some heigh
{DR_CONVERT (300)  (999)	(510)	(540)	(Gg,Gs)  (Gg^Fds)}
{DR_CONVERT (300)  (999)	(510)	(540)	(Hh)     (Hh^Fds)}
## fungus appears at med temp and high
{DR_CONVERT (825)  (950)	(500)	(525)	(Uu, Uh) (Uu^Uf)}
{DR_CONVERT (825)  (950)	(550)	(575)	(Uu, Uh) (Uu^Uf)}
{DR_CONVERT (825)  (950)	(600)	(625)	(Uu, Uh) (Uu^Uf)}
## high temperatures
{DR_CONVERT (800)  (999)	(850)	(999)	(Uu, Uh, Uu^Uf)	(Ql)}
{DR_CONVERT (260)  (999)	(800)	(999)	(Gg)     (Dd)}
{DR_CONVERT (230)  (999)	(750)	(999)	(Gg)     (Gd)}
{DR_CONVERT (100)  (999)	(650)	(999)	(Gg)     (Gs)}
{DR_CONVERT (460)  (630)	(800)	(999)	(Ds, Hh) (Hd)}

## DR_TEMPERATURE FROM MIN MAX TO
## convert forest at different temperatures
{DR_TEMPERATURE Gs^Fp 420 475 Gs^Fdf}
{DR_TEMPERATURE Hh^Fp 420 510 Hh^Fmf}
{DR_TEMPERATURE Gs^Fp 475 510 Gg^Fdf}
{DR_TEMPERATURE Gs^Fp 510 540 Gg^Fds}
{DR_TEMPERATURE Hh^Fp 510 540 Hh^Fds}
{DR_TEMPERATURE Gs^Fp 540 650 Gg^Ftr}
{DR_TEMPERATURE Hh^Fp 540 650 Hh^Fms}

[village]
    terrain=Gg
    convert_to=Gg^Vh
    adjacent_liked=Gg, Ww, Ww, Ww, Ww, Ww, Ww, Ww, Re, Re, Re, Re, Hh, Gs, Gg
    rating=8
[/village]
[village]
    terrain=Gs
    convert_to=Gs^Vh
    adjacent_liked=Gg, Ww, Ww, Ww, Ww, Ww, Ww, Ww, Re, Re, Re, Re, Hh, Gs, Gg, Gd, Gd, Gs, Gs
    rating=5
[/village]
[village]
    terrain=Gd
    convert_to=Gd^Vc
    adjacent_liked=Gg, Ww, Ww, Ww, Ww, Ww, Ww, Ww, Re, Re, Re, Re, Hh, Gs, Gd, Gd, Gs, Gs, Gd
    rating=5
[/village]
[village]
    terrain=Ds
    convert_to=Dd^Vda
    rating=2
    adjacent_liked=Gg, Gs, Gd, Wwg, Wwg, Wwg, Re, Re, Hh, Ch, Wog,
[/village]
[village]
    terrain=Uu
    convert_to=Uu^Vud
    rating=4
    adjacent_liked=Re,Hh,Mm,Uu,Uh,Xu
[/village]
[village]
    terrain=Uh
    convert_to=Uu^Vu
    rating=3
    adjacent_liked=Re,Hh,Mm,Uu,Uh,Xu
[/village]
[village]
    terrain=Gg^Fds
    convert_to=Gg^Vh
    adjacent_liked=Gg, Ww, Ww, Ww, Ww, Ww, Ww, Ww, Re, Re, Re, Re, Hh, Gs, Gg, Gg^Fds
    rating=4
[/village]
[village]
    terrain=Gs^Fp
    convert_to=Gs^Vh
    rating=4
    adjacent_liked=Gg, Ww, Ww, Ww, Ww, Ww, Ww, Ww, Re, Re, Re, Re, Hh, Gs, Gg, Gd, Gd, Gs, Gs, Gs^Fp
[/village]
[village]
    terrain=Hh
    convert_to=Hh^Vhh
    rating=4
    adjacent_liked=Gg, Ww, Ww, Ww, Ww, Ww, Ww, Ww, Re, Re, Re, Re, Hh, Gs, Gg, Gd, Gd, Gs, Gs, Gs^Fp
[/village]
[village]
    terrain=Hh^Fp
    convert_to=Hh^Vhh
    rating=4
    adjacent_liked=Gg, Ww, Ww, Ww, Ww, Ww, Ww, Ww, Re, Re, Re, Re, Hh, Gs, Gg, Gd, Gd, Gs, Gs, Gs^Fp
[/village]
[village]
    terrain=Mm
    convert_to=Mm^Vhh
    rating=4
    adjacent_liked=Gg, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gg^Ve, Gg^Vh, Hh, Gs^Fp
[/village]
## villages in snow
[village]
    terrain=Aa
    convert_to=Aa^Vha
    rating=3
    adjacent_liked=Gg, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gg^Ve, Gg^Vh, Hh, Gs^Fp
[/village]
[village]
    terrain=Aa^Fpa
    convert_to=Aa^Vea
    rating=3
    adjacent_liked=Gg, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gg^Ve, Gg^Vh, Hh, Gs^Fp
[/village]
## swamp villages
[village]
    terrain=Ss
    convert_to=Ss^Vhs
    rating=2
    adjacent_liked=Gg, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gg^Ve, Gg^Vh, Hh, Gs^Fp
[/village]
## mermen villages - give them low chance of appearing
[village]
    terrain=Wwg
    convert_to=Wwg^Vm
    rating=1
    adjacent_liked=Wwg, Wwg, Ch, Ss, Ds, Ds
[/village]

{WCT_GENERATOR_ROAD_COST_STANDAR}
[road_cost]
    terrain=Gs
    cost=10
    convert_to=Re
[/road_cost]
[road_cost]
    terrain=Gd
    cost=10
    convert_to=Re
[/road_cost]
[road_cost]
    terrain=Gg^Fds
    cost=20
    convert_to=Re
[/road_cost]
[road_cost]
    terrain=Gg^Ftr
    cost=20
    convert_to=Re
[/road_cost]
[road_cost]
    terrain=Gg^Fdf
    cost=20
    convert_to=Re
[/road_cost]
[road_cost]
    terrain=Hh^Fmf
    cost=20
    convert_to=Re
[/road_cost]
[road_cost]
    terrain=Hh^Ft
    cost=30
    convert_to=Re
[/road_cost]
[road_cost]
    terrain=Hh^Fp
    cost=30
    convert_to=Re
[/road_cost]
[road_cost]
    terrain=Hh^Fds
    cost=20
    convert_to=Re
[/road_cost]
[road_cost]
    terrain=Hh^Fms
    cost=20
    convert_to=Re
[/road_cost]
[road_cost]
    terrain=Gs^Ft
    cost=30
    convert_to=Re
[/road_cost]
[road_cost]
    terrain=Ds
    cost=20
    convert_to=Re
[/road_cost]

[castle]
    valid_terrain=Gs, Gg, Gd, Gs^Fp, Gg^Ft, Gg^Fds, Gg^Ftr, Hh, Hh^Fp, Hh^Ft, Hh^Fds, Hh^Fms, Ha^Fpa, Ha, Hh^Fmf, Gg^Fdf
    min_distance=15
[/castle]
#enddef

