#textdomain wesnoth-units

#define MULTIPLAYER_SIDE_THE_CULT
	[multiplayer_side]
		id=The Cult
		name={STR_CULT}
		recruit=Spearman,Spearman,Skeleton,Skeleton,Bowman,Bowman,Skeleton Archer,Skeleton Archer,Mage,Mage,Dark Adept,Dark Adept,Horseman,Horseman,Ghoul,Ghoul,Fencer,Fencer,Hakim,Walking Corpse,Heavy Infantryman,Ghost,Cavalryman,Cavalryman,Vampire Bat,Vampire Bat,Merman Fighter,Merman Fighter
		image={IMG_CULT}
		{MAGENTA_IS_THE_TEAM_COLOR}
		type=random
		leader= Lieutenant,Swordsman,Pikeman,Javelineer,Shock Trooper,Longbowman,White Mage,Red Mage,Dark Sorcerer,Revenant,Deathblade,Bone Shooter,Necrophage
		random_leader= {RANDOM_LEADERS_CULT}
	[/multiplayer_side]
#enddef

#define FACTION_VARIABLE_THE_CULT
	[value]
		id=The Cult
		name={STR_CULT}
		image={IMG_CULT}
		random_leader_names= {RANDOM_LEADERS_NAMES_CULT}
		commanders=Loyalists,Undead,Dune_Herbalist
		heroes=Rebels,Knalgans
		deserters=Drakes,Northerners,Young_Ogre
		deserters_names={STR_YOUNG_OGRE}+", "+{STR_DRAKES}+{STR_AND}+{STR_NORTHERENS}
		{WC_II_PAIR SPEARMAN SPEARMAN}
		{WC_II_PAIR SKELETON SKELETON}
		{WC_II_PAIR BOWMAN BOWMAN}
		{WC_II_PAIR SKELETON_ARCHER SKELETON_ARCHER}
		{WC_II_PAIR MAGE MAGE}
		{WC_II_PAIR DARK_ADEPT DARK_ADEPT}
		{WC_II_PAIR HORSEMAN HORSEMAN}
		{WC_II_PAIR GHOUL GHOUL}
		{WC_II_PAIR FENCER FENCER}
		{WC_II_PAIR HAKIM WALKING_CORPOSE}
		{WC_II_PAIR HEAVY_INFANTRYMAN GHOST}
		{WC_II_PAIR CAVALRYMAN CAVALRYMAN}
		{WC_II_PAIR VAMPIRE_BAT VAMPIRE_BAT}
		{WC_II_PAIR MERMAN_FIGHTER MERMAN_FIGHTER}
	[/value]
#enddef

#define RANDOM_LEADERS_CULT
Lieutenant,Swordsman,Pikeman,Longbowman,White Mage,Red Mage,Dark Sorcerer,Dark Sorcerer,Revenant,Bone Shooter,Necrophage,Necrophage #enddef

#ifver WC_II_CONFIG_TRANSLATED == yes
#define RANDOM_LEADERS_NAMES_CULT
_"Lieutenant",_"Swordsman",_"Pikeman",_"Longbowman",_"White Mage",_"Red Mage",_"Dark Sorcerer",_"Dark Sorcerer",_"Revenant",_"Bone Shooter",_"Necrophage",_"Necrophage" #enddef
#else
#define RANDOM_LEADERS_NAMES_CULT
{RANDOM_LEADERS_CULT} #enddef
#endif

#define IMG_CULT
"misc/blank-hex.png~BLIT(units/human-loyalists/pikeman.png~RC(magenta>white)~CROP(0,3,58,69),14,0)~BLIT(units/undead-skeletal/revenant/revenant.png~RC(magenta>blue)~CROP(9,0,63,71),0,1)" #enddef
