#textdomain wesnoth-units

#define MULTIPLAYER_SIDE_THE_HORDE
	[multiplayer_side]
		id=The Horde
		name={STR_HORDE}
		recruit=The Horde
		image={IMG_HORDE}
		{MAGENTA_IS_THE_TEAM_COLOR}
		type=random
		leader= Orcish Ruler,Orcish Warrior,Troll Hero,Troll,Troll Rocklobber,Orcish Crossbowman,Orcish Slayer,Drake Flare,Fire Drake,Drake Arbiter,Drake Thrasher,Drake Warrior,Saurian Oracle,Saurian Soothsayer
		random_leader= {RANDOM_LEADERS_HORDE}
	[/multiplayer_side]
#enddef

#define FACTION_VARIABLE_THE_HORDE
	[value]
		id=The Horde
		name={STR_HORDE}
		image={IMG_HORDE}
		random_leader_names= {RANDOM_LEADERS_NAMES_HORDE}
		commanders=Drakes,Northerners
		heroes=Undead,Loyalists
		deserters=Knalgans,Rebels,Rami
		deserters_names={STR_RAMI}+", "+{STR_KNALGAN}+{STR_AND}+{STR_REBELS}
		{WC_II_PAIR ORCISH_GRUNT DRAKE_FIGHTER}
		{WC_II_PAIR ORCISH_ARCHER DRAKE_BURNER}
		{WC_II_PAIR ORCISH_ASSASSIN SAURIAN_AUGUR}
		{WC_II_PAIR TROLL_WHELP DRAKE_CLASHER}
		{WC_II_PAIR WOLF_RIDER DRAKE_GUILDER}
		{WC_II_PAIR GOBLIN_SPEARMAN GOBLIN_SPEARMAN}
		{WC_II_PAIR SAURIAN_SKIRMISHER SAURIAN_SKIRMISHER}
		{WC_II_PAIR NAGA_FIGHTER NAGA_FIGHTER}
	[/value]
#enddef

#define RANDOM_LEADERS_HORDE
Orcish Ruler,Troll Hero,Orcish Warrior,Orcish Warrior,Troll,Troll,Orcish Crossbowman,Orcish Crossbowman,Drake Flare,Fire Drake,Fire Drake,Drake Arbiter,Drake Arbiter,Drake Thrasher,Drake Thrasher,Drake Warrior,Drake Warrior #enddef

#ifver WC_II_CONFIG_TRANSLATED == yes
#define RANDOM_LEADERS_NAMES_HORDE
_"Orcish Ruler",_"Troll Hero",_"Orcish Warrior",_"Orcish Warrior",_"Troll",_"Troll",_"Orcish Crossbowman",_"Orcish Crossbowman",_"Drake Flare",_"Fire Drake",_"Fire Drake",_"Drake Arbiter",_"Drake Arbiter",_"Drake Thrasher",_"Drake Thrasher",_"Drake Warrior",_"Drake Warrior" #enddef
#else
#define RANDOM_LEADERS_NAMES_HORDE
{RANDOM_LEADERS_HORDE} #enddef
#endif

#define IMG_HORDE
"misc/blank-hex.png~BLIT(units/drakes/warrior.png~RC(magenta>orange)~CROP(0,7,66,65),6,0)~BLIT(units/orcs/warrior.png~RC(magenta>red)~CROP(17,0,55,65),0,7)" #enddef
