#textdomain wesnoth-units

#define MULTIPLAYER_SIDE_THE_TRUST
	[multiplayer_side]
		id=The Trust
		name={STR_TRUST}
		recruit=The Trust
		image={IMG_TRUST}
		{MAGENTA_IS_THE_TEAM_COLOR}
		type=random
		leader= Dwarvish Steelclad,Dwarvish Thunderguard,Dwarvish Stalwart,Rogue,Trapper,Drake Flare,Fire Drake,Drake Arbiter,Drake Thrasher,Drake Warrior,Saurian Oracle,Saurian Soothsayer
		random_leader= {RANDOM_LEADERS_TRUST}
	[/multiplayer_side]
#enddef

#define FACTION_VARIABLE_THE_TRUST
	[value]
		id=The Trust
		name={STR_TRUST}
		image={IMG_TRUST}
		random_leader_names= {RANDOM_LEADERS_NAMES_TRUST}
		commanders=Drakes,Knalgans
		heroes=Loyalists,Northerners,Young_Ogre
		deserters=Rebels,Undead,Naffat
		deserters_names={STR_NAFFAT}+", "+{STR_REBELS}+{STR_AND}+{STR_THE_UNDEAD}
		{WC_II_PAIR DRAKE_FIGHTER DWARVISH_FIGHTER}
		{WC_II_PAIR DRAKE_BURNER DWARVISH_THUNDERER}
		{WC_II_PAIR SAURIAN_AUGUR DWARVISH_ULFSERKER}
		{WC_II_PAIR DRAKE_CLASHER DWARVISH_GUARDSMAN}
		{WC_II_PAIR SAURIAN_SKIRMISHER POACHER}
		{WC_II_PAIR DRAKE_GUILDER FOOTPAD}
		{WC_II_PAIR THIEF THIEF}
	[/value]
#enddef

#define RANDOM_LEADERS_TRUST
Dwarvish Steelclad,Dwarvish Thunderguard,Dwarvish Stalwart,Rogue,Trapper,Drake Flare,Fire Drake,Drake Arbiter,Drake Thrasher,Drake Warrior #enddef

#ifver WC_II_CONFIG_TRANSLATED == yes
#define RANDOM_LEADERS_NAMES_TRUST
_"Dwarvish Steelclad",_"Dwarvish Thunderguard",_"Dwarvish Stalwart",_"Rogue,Trapper",_"Drake Flare",_"Fire Drake",_"Drake Arbiter",_"Drake Thrasher",_"Drake Warrior" #enddef
#else
#define RANDOM_LEADERS_NAMES_TRUST
{RANDOM_LEADERS_TRUST} #enddef
#endif

#define IMG_TRUST
"misc/blank-hex.png~BLIT(units/dwarves/stalwart.png~RC(magenta>purple)~CROP(0,20,55,52),17,0)~BLIT(units/drakes/arbiter.png~RC(magenta>orange)~CROP(8,0,64,67),0,5)" #enddef
