## Springs

#define WORLD_CONQUEST_TEK_MAP_POSTGENERATION_2A
[event]
    name=prestart
    {WORLD_CONQUEST_TEK_MAP_NOISE_CLASSIC Gs^Fp}
    {WORLD_CONQUEST_TEK_ENEMY_ARMY_EVENT}
    {WORLD_CONQUEST_TEK_MAP_REPAINT_2A}
    {WORLD_CONQUEST_TEK_BONUS_POINTS}
    {WCT_MAP_2A_POST_BUNUS_DECORATION}
    {WCT_MAP_ENEMY_THEMED undead Soulless ha Aa^Vha 12}
    {CLEAR_VARIABLE terrain_to_change}
[/event]
#enddef

#define WORLD_CONQUEST_TEK_MAP_REPAINT_2A
{VARIABLE_OP extra_reef rand 0,0,1}
{WORLD_CONQUEST_TEK_MAP_REBUILD (Uu,Uu^Uf,Uh,Uu^Uf,Uu,Uh,Ql,Qxu,Xu,Ww,Ww) 3 $extra_reef Hh}
{WORLD_CONQUEST_TEK_MAP_DECORATION_2A}
{WORLD_CONQUEST_TEK_MAP_DIRT (Gg^Uf,Gg^Uf,Gg^Uf,Gs^Uf)}
#enddef

#define WORLD_CONQUEST_TEK_MAP_DECORATION_2A
[terrain]
    terrain=Gs^Fms
    [and]
        terrain=Gs^Ft
        [not]
            [filter_adjacent_location]
                terrain=Ss,Ds,Dd,Hd,Dd^Do,Ww,Wo
                count=2-6
            [/filter_adjacent_location]
        [/not]
    [/and]
[/terrain]
[terrain]
    terrain=Hh^Fms
    [and]
        terrain=Hh^Ft
    [/and]
[/terrain]
## chances of tropical palm forest near caves
{RANDOM 0..1}
[if]
    [variable]
        name=random
        equals=1
    [/variable]
[then]
    [store_locations]
        terrain=Hh*^F*
        [filter_adjacent_location]
            terrain=Xu,U*^*,Mv,Ql,Qxu
        [/filter_adjacent_location]
        variable=terrain_to_change
    [/store_locations]
    {RANDOM 2.."$($terrain_to_change.length-1)"}
    {VARIABLE_OP random add -2}
    {REPEAT $random (
        {VARIABLE_OP rand rand 0.."$($terrain_to_change.length-1)"}
        [terrain]
            x=$terrain_to_change[$rand].x
            y=$terrain_to_change[$rand].y
            terrain=Hh^Ftp
        [/terrain]
    )}
[/then]
[/if]
{RANDOM 0..1}
[if]
    [variable]
        name=random
        equals=1
    [/variable]
[then]
    [store_locations]
        terrain=G*^F*
        [filter_adjacent_location]
            terrain=Xu,U*^*,Mv,Ql,Qxu
        [/filter_adjacent_location]
        variable=terrain_to_change
    [/store_locations]
    {RANDOM 2.."$($terrain_to_change.length-1)"}
    {VARIABLE_OP random add -2}
    {REPEAT $random (
        {VARIABLE_OP rand rand 0.."$($terrain_to_change.length-1)"}
        [terrain]
            x=$terrain_to_change[$rand].x
            y=$terrain_to_change[$rand].y
            terrain=Gs^Ftp
        [/terrain]
    )}
[/then]
[/if]
## tropical forest near sand, swamp or water
[terrain]
    terrain=Gs^Ftd
    [and]
        terrain=Gs^Fp
        [filter_adjacent_location]
            terrain=Ss,Ds,Dd,Hd,Dd^Do,Ww,Wo
            count=3-6
        [/filter_adjacent_location]
        [filter_adjacent_location]
            terrain=Aa,Aa^Fpa,Ha,Aa^Vea,Aa^Vha,Ms
            count=0
        [/filter_adjacent_location]
    [/and]
[/terrain]
[terrain]
    terrain=Gg^Fds
    [and]
        terrain=Gs^Fp
        [and]
            terrain=Gg^Fet
            radius=2
            [and]
                [not]
                    terrain=Ds,Dd,Hd
                    radius=3
                [/not]
            [/and]
        [/and]
    [/and]
[/terrain]
## tropical forest near lava and water
[terrain]
    terrain=Gs^Ft
    [and]
        terrain=Gs^Fp
        [and]
            terrain=Ql,Mv
            radius=3
        [/and]
        [and]
            terrain=Ww,Wo,Wwr
            radius=3
        [/and]
    [/and]
[/terrain]
[terrain]
    terrain=Hh^Ft
    [and]
        terrain=Hh^Fp
        [and]
            terrain=Ql,Mv
            radius=3
        [/and]
        [and]
            terrain=Ww,Wo,Wwr
            radius=3
        [/and]
    [/and]
[/terrain]
[terrain]
    terrain=Hh^Fds
    [and]
        terrain=Hh^Fp
        [and]
            terrain=Gg^Fet
            radius=2
            [and]
                [not]
                    terrain=Ds,Dd,Hd
                    radius=1
                [/not]
            [/and]
        [/and]
    [/and]
[/terrain]
[terrain]
    terrain=Hh^Fds
    [and]
        terrain=Hh^Fp
        [and]
            terrain=Ql,Mv
            radius=2
            [and]
                [not]
                    terrain=Ds,Dd,Hd
                    radius=1
                [/not]
            [/and]
        [/and]
    [/and]
[/terrain]
[terrain]
    terrain=Hh^Fds
    [and]
        terrain=Hh^Fp
        [and]
            terrain=Ql,Uu,Hu,Uu^Uf,Qxu,Mv
            radius=3
            [and]
                [not]
                    terrain=Ds,Dd,Hd
                    radius=3
                [/not]
            [/and]
        [/and]
        [and]
            terrain=Ww
            radius=3
        [/and]
    [/and]
[/terrain]
[terrain]
    terrain=Hh^Fms
    [and]
        terrain=Hh^Fp
        [filter_adjacent_location]
            terrain=Gg^Fds
        [/filter_adjacent_location]
    [/and]
[/terrain]
[terrain]
    terrain=Gg^Fms
    [and]
        terrain=Gg^Fds
        [filter_adjacent_location]
            terrain=Gs^Fp
        [/filter_adjacent_location]
    [/and]
[/terrain]
## randomize a few forest
[store_locations]
    terrain=G*^F*
    variable=terrain_to_change
[/store_locations]
{WCT_FRACTION_REPLACE 11 Gg^Fet,Gg^Fds,Gg^Fms,Gg^Fp,Gg^Fds,Gg^Fms,Gs^Fds,Gs^Ftp}
[store_locations]
    terrain=Hh*^F*
    variable=terrain_to_change
[/store_locations]
{WCT_FRACTION_REPLACE 11 Hh^Fds,Hh^Fms,Hh^Fp,Hh^Fds,Hh^Fms,Hh^Fds,Hh^Ftp}
## fords
{RANDOM 0..4}
{REPEAT $random (
    [terrain]
        terrain=Wwf
        [and]
            terrain=Gg,Gs
            [filter_adjacent_location]
                terrain=Wwf,Ww*^*,Wwo
            [/filter_adjacent_location]
            [filter_adjacent_location]
                terrain=U*^*,M*^*,Xu
            [/filter_adjacent_location]
        [/and]
    [/terrain]
)}
## chances flowers
{WCT_STORE_POSSIBLE_FLOWERS G*^Fet}
[while]
    [variable]
        name=terrain_to_change.length
        greater_than=0
    [/variable]
    [variable]
        name=random
        greater_than=3
    [/variable]
[do]
    {SHUFFLE_ARRAY terrain_to_change}
    [terrain]
        terrain=Gg^Efm
        layer=overlay
        x=$terrain_to_change.x
        y=$terrain_to_change.y
    [/terrain]
    {WCT_STORE_POSSIBLE_FLOWERS G*^Fet}
[/do]
[/while]
## extra coast
[store_locations]
    terrain=Wo
    [filter_adjacent_location]
        terrain=Ds
    [/filter_adjacent_location]
    variable=terrain_to_change
[/store_locations]
{RANDOM 10..12}
{WCT_FRACTION_REPLACE $random Ww,Ww,Ww,Wwr}
{WCT_MAP_REDUCE_CASTLE_EXPANDING_RECRUIT Ce Re}
{RANDOM 0..4}
[if]
    [variable]
        name=random
        greater_than=0
    [/variable]
[then]
    {WCT_MAP_DECORATIVE_DOCKS}
[/then]
[/if]
#enddef

#define WCT_MAP_2A_POST_BUNUS_DECORATION
{WCT_MAP_CAVE_PATH_TO Rb}
{WCT_MAP_MUDDY_FLOWERS_TO Wwf}
#enddef