## Paradise

#define WORLD_CONQUEST_TEK_MAP_POSTGENERATION_2E
	[event]
		name=prestart
		{WORLD_CONQUEST_TEK_ENEMY_ARMY_EVENT}
		{WORLD_CONQUEST_TEK_MAP_REPAINT_2E}
		{VARIABLE bonus.theme paradise}
		{WORLD_CONQUEST_TEK_BONUS_POINTS}
		{WCT_MAP_2E_POST_BUNUS_DECORATION}
	[/event]
#enddef

#define WCT_MAP_2E_POST_BUNUS_DECORATION
	{WCT_MAP_DECORATION_3E_KEEPS}
	{WCT_MAP_DECORATION_3E_LEANTOS}
#enddef

#define WORLD_CONQUEST_TEK_MAP_REPAINT_2E
	{VARIABLE_OP fraction rand 1,2}
	{WORLD_CONQUEST_TEK_MAP_NOISE_PROXY 1 $fraction (!,W*^*,Ds*^*,X*,M*^Xm,R*^*,Ch*,K*,U*^*,Ql^B*)}
	{CLEAR_VARIABLE fraction}

	## create citadel castles
	{WCT_MAP_REDUCE_CASTLE_EXPANDING_RECRUIT Xos Rr^Fet}
	[terrain]
		terrain=Ch
		[and]
			terrain=Xos
		[/and]
	[/terrain]
	## create mini lakes
	[store_locations]
		terrain=Gg
		[filter_adjacent_location]
			terrain=W*^*,Ds*^*,S*^*
			count=0
		[/filter_adjacent_location]
		variable=terrain_to_change
	[/store_locations]
	{WCT_FRACTION_REPLACE 20 Wwt}
	## chance of dirt beachs
	[store_locations]
		terrain=Ds
		[filter_adjacent_location]
			terrain=Ds^Vc
		[/filter_adjacent_location]
		variable=terrain_to_change
	[/store_locations]
	{RANDOM 2..10}
	{WCT_FRACTION_REPLACE $random Ds^Edt,Ds}
	## eliminate bridges bad generated
	[terrain]
		terrain=Rr
		[and]
			terrain=W*^Bsb/
			[filter_adjacent_location]
				terrain=R*^*,C*,G*^V*,W*^Bsb/
				adjacent=ne,sw
				count=0-1
			[/filter_adjacent_location]
		[/and]
	[/terrain]
	[terrain]
		terrain=Rr
		[and]
			terrain=W*^Bsb\
			[filter_adjacent_location]
				terrain=R*^*,C*,G*^V*,W*^Bsb\
				adjacent=nw,se
				count=0-1
			[/filter_adjacent_location]
		[/and]
	[/terrain]
	[terrain]
		terrain=Rr
		[and]
			terrain=W*^Bsb|
			[filter_adjacent_location]
				terrain=R*^*,C*,G*^V*,W*^Bsb|
				adjacent=n,s
				count=0-1
			[/filter_adjacent_location]
		[/and]
	[/terrain]
	{WCT_CONECT_ISOLATED_CITADEL}
	## create villages in empty citadels
	{WCT_STORE_EMPTY_CITADEL}
	[while]
		[variable]
			name=terrain_to_change.length
			greater_than=0
		[/variable]
		[do]
			{SHUFFLE_ARRAY terrain_to_change}
			[terrain]
				terrain=Rr^Vhc
				x=$terrain_to_change.x
				y=$terrain_to_change.y
			[/terrain]
			{WCT_STORE_EMPTY_CITADEL}
		[/do]
	[/while]
	## improve roads quality
	{RANDOM 2..4}
	[terrain]
		terrain=Rr
		[and]
			terrain=Re
			[and]
				terrain=Rr*^*,Ch,Kh,W*^Bsb*
				radius=$random
				[filter_radius]
					terrain=R*^*,C*,K*,W*^Bsb*
				[/filter_radius]
			[/and]
		[/and]
	[/terrain]
	[terrain]
		terrain=Rr^Vhc
		[and]
			terrain=G*^Vh
			[filter_adjacent_location]
				terrain=Rr^*,W*^Bsb*
			[/filter_adjacent_location]
		[/and]
	[/terrain]
	## log villages
	[terrain]
		terrain=*^Vl
		layer=overlay
		[and]
			terrain=*^Vh
			[filter_adjacent_location]
				terrain=G*^F*
			[/filter_adjacent_location]
			[filter_adjacent_location]
				terrain=R*
				count=0
			[/filter_adjacent_location]
		[/and]
	[/terrain]
	## decorative yards near log villages
	[store_map_dimensions]
		variable=map_data
	[/store_map_dimensions]
	{VARIABLE_OP map_data.yard rand 1,0.."$($map_data.width*$map_data.height/300)"}
	{REPEAT_IT $map_data.yard yard_i}
	{VARIABLE map_data.dir "n,nw,ne"}
	{VARIABLE map_data.c_dir "s,sw,se"}
	{RANDOM 0..1}
	[if]
		{VARIABLE_CONDITIONAL random equals 0}
		[then]
			{VARIABLE map_data.dir "s,sw,se"}
			{VARIABLE map_data.c_dir "n,nw,ne"}
		[/then]
	[/if]
	{WCT_MAP_YARD $map_data.dir $map_data.c_dir}
{NEXT yard_i}
{CLEAR_VARIABLE map_data}
## chance of farms replacing yards
{RANDOM 0..19}
[if]
	{VARIABLE_CONDITIONAL random equals 0}
	[then]
		[store_locations]
			terrain=*^Eff
			variable=terrain_to_change
		[/store_locations]
		{WCT_TERRAIN_REPLACE Rb^Gvs,Rb^Gvs,Rb^Gvs,Gg}
	[/then]
[/if]
## fix mountains map amount
[store_locations]
	terrain=Gg
	[filter_adjacent_location]
		terrain=W*^*,Ds*^*,S*^*
		count=0
	[/filter_adjacent_location]
	variable=terrain_to_change
[/store_locations]
{WCT_FRACTION_REPLACE 20 Mm}
[store_locations]
	terrain=Mm
	variable=terrain_to_change
[/store_locations]
{WCT_FRACTION_REPLACE 2 Gg}
{WCT_CONECT_ISOLATED_CITADEL}
#enddef

#define WCT_MAP_YARD DIRECTIONS COUNTER_DIRECTIONS
	[store_locations]
		terrain=Gg
		[filter_adjacent_location]
			terrain=Gg
			adjacent={DIRECTIONS}
			count=3
		[/filter_adjacent_location]
		[and]
			[filter_adjacent_location]
				terrain=Gg^Vl
			[/filter_adjacent_location]
			[or]
				[filter_adjacent_location]
					terrain=Gg
					adjacent={DIRECTIONS}
					[filter_adjacent_location]
						terrain=Gg^Vl
					[/filter_adjacent_location]
				[/filter_adjacent_location]
			[/or]
		[/and]
		variable=terrain_to_change
	[/store_locations]
	[if]
		{VARIABLE_CONDITIONAL terrain_to_change.length greater_than 0}
		[then]
			{RANDOM_INDEX terrain_to_change}
			[terrain]
				x=$terrain_to_change[$random].x
				y=$terrain_to_change[$random].y
				terrain=Gg^Eff
			[/terrain]
			[terrain]
				[filter_adjacent_location]
					x=$terrain_to_change[$random].x
					y=$terrain_to_change[$random].y
					adjacent={COUNTER_DIRECTIONS}
				[/filter_adjacent_location]
				terrain=Gg^Eff
			[/terrain]
		[/then]
	[/if]
#enddef

#define WCT_CONECT_ISOLATED_CITADEL
	[store_locations]
		terrain=Rr*^*,Ch,Kh,W*^Bsb*
		[filter_adjacent_location]
			terrain=R*^*,Ch,Kh,W*^Bsb*
			count=0
		[/filter_adjacent_location]
		variable=isolated
	[/store_locations]
	[terrain]
		terrain=Rr
		[and]
			terrain=Gg
			[filter_adjacent_location]
				find_in=isolated
			[/filter_adjacent_location]
			[filter_adjacent_location]
				terrain=R*^*,Ch,Kh,W*^Bsb*
				[not]
					find_in=isolated
				[/not]
			[/filter_adjacent_location]
		[/and]
	[/terrain]
	{CLEAR_VARIABLE isolated}
#enddef

#define WCT_STORE_EMPTY_CITADEL
	[store_locations]
		terrain=Rr
		[not]
			terrain=Rr^Vhc
			radius=4
			[filter_radius]
				terrain=Rr*^*,Ch*,Kh*,W*^Bsb*
			[/filter_radius]
		[/not]
		variable=terrain_to_change
	[/store_locations]
#enddef

#define WCT_MAP_DECORATION_3E_KEEPS
	[store_locations]
		terrain=Ch
		[filter_adjacent_location]
			terrain=*^Bsb*
		[/filter_adjacent_location]
		[filter_adjacent_location]
			terrain=Ch
			count=0
		[/filter_adjacent_location]
		variable=terrain_to_change
	[/store_locations]
	{WCT_TERRAIN_REPLACE Ch,Kh}
#enddef

#define WCT_MAP_DECORATION_3E_LEANTOS
	[store_locations]
		terrain=Rr
		[not]
			find_in=bounus.point
		[/not]
		[and]
			[filter_adjacent_location]
				terrain=Ch
				[not]
					terrain=K*
					radius=999
					[filter_radius]
						terrain=C*
					[/filter_radius]
				[/not]
			[/filter_adjacent_location]
			[or]
				[filter_adjacent_location]
					terrain=Ch,Rr^*
					count=5-6
				[/filter_adjacent_location]
			[/or]
		[/and]
		variable=terrain_to_change
	[/store_locations]
	{FOREACH terrain_to_change street_i}
		{RANDOM 0..2}
		[if]
			{VARIABLE_CONDITIONAL random equals 0}
			[then]
				[terrain]
					x=$terrain_to_change[$street_i].x
					y=$terrain_to_change[$street_i].y
					terrain=Rrc
				[/terrain]
				[item]
					x=$terrain_to_change[$street_i].x
					y=$terrain_to_change[$street_i].y
					image={IMG_CITADEL_LEANTO}
				[/item]
			[/then]
		[/if]
	{NEXT street_i}
#enddef
