## Clayey

#define WORLD_CONQUEST_TEK_MAP_POSTGENERATION_2F
[event]
    name=prestart
    {WORLD_CONQUEST_TEK_ENEMY_ARMY_EVENT}
    {WORLD_CONQUEST_TEK_MAP_REPAINT_2F}
    {WORLD_CONQUEST_TEK_BONUS_POINTS}
    {WCT_MAP_2F_POST_BUNUS_DECORATION}
    {CLEAR_VARIABLE terrain_to_change}
[/event]
#enddef

#define WORLD_CONQUEST_TEK_MAP_REPAINT_2F
{VARIABLE bonus.theme clayey}
{WCT_REDUCE_WALL_CLUSTERS (Uu,Uu^Uf,Uh,Uu^Uf,Uu,Uh,Ql,Uu,Xu,Uu,Ww)}
[terrain]
    terrain=Xu
    [and]
        terrain=Mm^Xm
    [/and]
    [filter_adjacent_location]
        terrain=Uu^*
    [/filter_adjacent_location]
[/terrain]
{WCT_VOLCANOS}
{WCT_VOLCANOS_DIRT}
## fix water types
[terrain]
    terrain=Wwg
    [and]
        terrain=Ww
    [/and]
    [filter_adjacent_location]
        terrain=Wwg
    [/filter_adjacent_location]
[/terrain]
[terrain]
    terrain=Wog
    [and]
        terrain=Ww
    [/and]
    [filter_adjacent_location]
        terrain=Wog
    [/filter_adjacent_location]
    [or]
        y=1
    [/or]
[/terrain]
[terrain]
    terrain=Wog
    [and]
        terrain=Ww
    [/and]
    [filter_adjacent_location]
        terrain=Wog
    [/filter_adjacent_location]
[/terrain]
[terrain]
    terrain=Wwf
    [and]
        terrain=Ww
    [/and]
[/terrain]
[terrain]
    terrain=Wo
    [and]
        terrain=Wog
    [/and]
[/terrain]
[terrain]
    terrain=Ww
    layer=base
    [and]
        terrain=Wwg^*
    [/and]
[/terrain]
[terrain]
    terrain=Sm
    [and]
        terrain=Wwf
    [/and]
    [filter_adjacent_location]
        terrain=Dd^*,Rd^*
    [/filter_adjacent_location]
[/terrain]
[terrain]
    terrain=Ss
    [and]
        terrain=Wwf
    [/and]
    [filter_adjacent_location]
        terrain=Gg^*
    [/filter_adjacent_location]
    [filter_adjacent_location]
        terrain=Wwf
        count=3-6
    [/filter_adjacent_location]
[/terrain]
[terrain]
    terrain=Ww
    [and]
        terrain=Wwf
    [/and]
    [filter_adjacent_location]
        terrain=Wo
    [/filter_adjacent_location]
[/terrain]
## extra random rough terrain
[store_locations]
    terrain=G*,R*,Dd
    variable=terrain_to_change
[/store_locations]
{WCT_FRACTION_LAYER_REPLACE 3 *^Fp,*^Fp,*^Fp,*^Fp,*^Fp,*^Fp,*^Fp,*^Fpa,*^Fpa,*^Fma,*^Fda overlay}
[terrain]
    terrain=Mm
    [and]
        terrain=*^Fda
    [/and]
[/terrain]
[store_locations]
    terrain=Dd^Fma
    variable=terrain_to_change
[/store_locations]
{WCT_FRACTION_REPLACE 1 Dd^Fetd,Hd}
[terrain]
    terrain=Hh^Fds
    [and]
        terrain=G*^Fma
    [/and]
[/terrain]
[terrain]
    terrain=Hh^Fms
    [and]
        terrain=Rb^Fma
    [/and]
[/terrain]
[terrain]
    terrain=Hh^Fp
    [and]
        terrain=*^Fma
    [/and]
[/terrain]
[terrain]
    terrain=Hd
    [and]
        terrain=Dd^Fpa
    [/and]
[/terrain]
[terrain]
    terrain=Hhd
    [and]
        terrain=Rd^Fpa
    [/and]
[/terrain]
[terrain]
    terrain=Hh
    [and]
        terrain=*^Fpa
    [/and]
[/terrain]
[terrain]
    terrain=Dd^Fdw
    [and]
        terrain=Dd^Fp
    [/and]
[/terrain]
[terrain]
    terrain=Rd^Fmw
    [and]
        terrain=Rd^Fp
    [/and]
[/terrain]
[terrain]
    terrain=Rb^Fms
    [and]
        terrain=Rb^Fp
    [/and]
[/terrain]
[terrain]
    terrain=Gs^Fds
    [and]
        terrain=Gs^Fp
    [/and]
[/terrain]
[terrain]
    terrain=Gg^Ftr
    [and]
        terrain=Gg^Fp
    [/and]
[/terrain]
[store_locations]
    terrain=G*^F*
    variable=terrain_to_change
[/store_locations]
{WCT_FRACTION_LAYER_REPLACE 9 *^Fet overlay}
## villages variations
[store_locations]
    terrain=Gg^Vht
    [filter_adjacent_location]
        terrain=*^F*
    [/filter_adjacent_location]
    variable=terrain_to_change
[/store_locations]
{WCT_FRACTION_REPLACE 2 Gg^Ve}
[store_locations]
    terrain=Gg^Vht
    variable=terrain_to_change
[/store_locations]
{WCT_FRACTION_REPLACE 2 Gg^Vh}
[store_locations]
    terrain=Gg^Vht
    variable=terrain_to_change
[/store_locations]
{WCT_FRACTION_REPLACE 2 Gg^Vc}
#enddef

#define WCT_MAP_2F_POST_BUNUS_DECORATION
## earthy caves
[terrain]
    terrain=Uue
    layer=base
    [and]
        terrain=Uu^*
    [/and]
[/terrain]
[terrain]
    terrain=Xuce
    [and]
        terrain=Xu
    [/and]
[/terrain]
#enddef



