## Volcanic

#define WORLD_CONQUEST_TEK_MAP_POSTGENERATION_4B
	[event]
		name=prestart
		{WORLD_CONQUEST_TEK_MAP_NOISE_CLASSIC Gs^Fp}
		{WORLD_CONQUEST_TEK_ENEMY_ARMY_EVENT}
		{WORLD_CONQUEST_TEK_MAP_REPAINT_4B}
		{VARIABLE bonus.theme volcanic}
		{WORLD_CONQUEST_TEK_BONUS_POINTS}
		{WCT_MAP_ENEMY_THEMED dwarf "Giant Mudcrawler" ud Ur^Vud 5}
	[/event]
#enddef

#define WORLD_CONQUEST_TEK_MAP_REPAINT_4B
	[store_locations]
		terrain=U*,U*^Uf
		variable=terrain_to_change
	[/store_locations]
	{WCT_CHANCE_REPLACE 10 Ql,Md,Md^Xm}
	[store_locations]
		terrain=Xu
		variable=terrain_to_change
	[/store_locations]
	{WCT_TERRAIN_REPLACE Ql,Uu,Uh,Uh,Uu^Uf,Qxu,Uh^Uf}
	[store_locations]
		terrain=Mm^Xm
		variable=terrain_to_change
	[/store_locations]
	{WCT_FRACTION_REPLACE 2 Ql,Uu^Uf,Qxu,Uh^Uf,Uh,Uh,Uu,Ql,Md}
	[store_locations]
		terrain=Hh^F*
		[filter_adjacent_location]
			terrain=Ql,Uu,Uh,Uu^Uf,Qxu,Uh^Uf
		[/filter_adjacent_location]
		variable=terrain_to_change
	[/store_locations]
	{WCT_FRACTION_REPLACE 3 Ql,Uu^Uf,Qxu,Uh^Uf}
	[store_locations]
		terrain=Hh
		[filter_adjacent_location]
			terrain=Ql,Uu,Uh,Uu^Uf,Qxu,Uh^Uf,Ur
		[/filter_adjacent_location]
		variable=terrain_to_change
	[/store_locations]
	{WCT_FRACTION_REPLACE 3 Uh}
	{WCT_FILL_LAVA_CHASMS}
	[terrain]
		terrain=Uh
		layer=base
		[filter_adjacent_location]
			terrain=Ql
		[/filter_adjacent_location]
		[and]
			terrain=Hh*^*
		[/and]
	[/terrain]
	[terrain]
		terrain=Ur
		[and]
			terrain=Re
			[not]
				terrain=Ch*^*,Kh*^*
				radius=999
				[filter_radius]
					terrain=Re
				[/filter_radius]
			[/not]
		[/and]
	[/terrain]
	{REPEAT_IT 3 obsidian_i (
		[terrain]
			terrain=Ur
			layer=base
			[filter_adjacent_location]
				terrain=Ql,Uu^*,Qxu,Uh^*,Ur^*
			[/filter_adjacent_location]
			[and]
				terrain=G*^*
			[/and]
		[/terrain]
	)}
	{REPEAT_IT 2 scorched_i (
		[terrain]
			terrain=Rd
			layer=base
			[and]
				terrain=Ql,Uu^*,Qxu,Uh^*,Ur^*,Rd
				radius=2
			[/and]
			[and]
				terrain=G*^*
			[/and]
		[/terrain]
	)}
	## change villages
	[terrain]
		terrain=Ur^Vu
		[and]
			terrain=Ur^V*
		[/and]
	[/terrain]
	[terrain]
		terrain=*^Vd
		layer=overlay
		[and]
			terrain=*^Vhh
		[/and]
	[/terrain]
	[terrain]
		terrain=*^Vo
		layer=overlay
		[and]
			terrain=*^Ve
		[/and]
	[/terrain]
	[terrain]
		terrain=Gd^Vc
		[and]
			terrain=G*^Vh
		[/and]
	[/terrain]
	[terrain]
		terrain=*^Vh
		layer=overlay
		[and]
			terrain=*^Vht
		[/and]
	[/terrain]
	[terrain]
		terrain=Rd^Vhh
		[and]
			terrain=Rd^Vh
		[/and]
	[/terrain]
	[store_locations]
		terrain=Dd^Vda
		variable=terrain_to_change
	[/store_locations]
	{WCT_FRACTION_REPLACE 3 Ds^Vct}
	{RANDOM 0..1}
	[if]
		{VARIABLE_CONDITIONAL random equals 0}
		[then]
			[store_locations]
				terrain=Ur^Vu
				variable=terrain_to_change
			[/store_locations]
			{RANDOM 2..3}
			{WCT_FRACTION_REPLACE $random Ur^Vd}
		[/then]
	[/if]
	{RANDOM 0..1}
	[if]
		{VARIABLE_CONDITIONAL random equals 0}
		[then]
			[store_locations]
				terrain=Rd^Vhh
				variable=terrain_to_change
			[/store_locations]
			{RANDOM 2..3}
			{WCT_FRACTION_REPLACE $random Rd^Vd}
		[/then]
	[/if]
	{RANDOM 0..1}
	[if]
		{VARIABLE_CONDITIONAL random equals 0}
		[then]
			[store_locations]
				terrain=D*^V*
				variable=terrain_to_change
			[/store_locations]
			{RANDOM 3..4}
			{WCT_FRACTION_REPLACE $random Ds^Vd}
		[/then]
	[/if]
	## dry terrain
	[terrain]
		terrain=Sm
		layer=base
		[and]
			terrain=Ss^*
		[/and]
	[/terrain]
	[terrain]
		terrain=Gd
		layer=base
		[and]
			terrain=G*^*
		[/and]
	[/terrain]
	[terrain]
		terrain=Md
		layer=base
		[and]
			terrain=M*^*
		[/and]
	[/terrain]
	[terrain]
		terrain=Hhd
		layer=base
		[and]
			terrain=Hh^*
		[/and]
	[/terrain]
	[terrain]
		terrain=*^Fdw
		layer=overlay
		[and]
			terrain=U*^F*
			[not]
				terrain=*^Fet
			[/not]
		[/and]
	[/terrain]
	[terrain]
		terrain=*^Fmw
		layer=overlay
		[and]
			terrain=Rd^F*
			[not]
				terrain=Rd^Fet
			[/not]
		[/and]
	[/terrain]
	[terrain]
		terrain=*^Fetd
		layer=overlay
		[and]
			terrain=*^Fet
		[/and]
	[/terrain]
	## change some forest
	[store_locations]
		terrain=G*^Ft
		variable=terrain_to_change
	[/store_locations]
	{WCT_FRACTION_REPLACE 3 Gd^Fdw,Gd^Fmw}
	[store_locations]
		terrain=G*^Ft
		variable=terrain_to_change
	[/store_locations]
	{WCT_FRACTION_REPLACE 2 Gd^Fms,Gd^Fmw,Gd^Fet}
	[store_locations]
		terrain=Hhd^Ft
		variable=terrain_to_change
	[/store_locations]
	{WCT_FRACTION_REPLACE 3 Hhd^Fdw,Hhd^Fmw}
	[store_locations]
		terrain=Hhd^Ft
		variable=terrain_to_change
	[/store_locations]
	{WCT_FRACTION_REPLACE 2 Hhd^Fms,Hhd^Fmw}
	## difumine dry/grass border
	[store_locations]
		terrain=Gd
		[filter_adjacent_location]
			terrain=Rd
		[/filter_adjacent_location]
		variable=terrain_to_change
	[/store_locations]
	{WCT_FRACTION_REPLACE 3 Rd}
	[store_locations]
		terrain=Rd
		[filter_adjacent_location]
			terrain=Gd
		[/filter_adjacent_location]
		variable=terrain_to_change
	[/store_locations]
	{WCT_FRACTION_REPLACE 3 Gd}
	## create volcanos where possible and force one
	[store_locations]
		terrain=Ql
		[filter_adjacent_location]
			terrain=M*,M*^Xm
			count=2
			adjacent=se,s,sw
		[/filter_adjacent_location]
		[filter_adjacent_location]
			terrain=K*^*,C*^*,*^V
			count=0
			adjacent=se,s,sw
		[/filter_adjacent_location]
		variable=terrain_to_change
	[/store_locations]
	[if]
		{VARIABLE_CONDITIONAL terrain_to_change.length greater_than 0}
		[then]
			{SHUFFLE_ARRAY terrain_to_change}
			[terrain]
				terrain=Md^Xm
				[filter_adjacent_location]
					x=$terrain_to_change.x
					y=$terrain_to_change.y
					adjacent=ne,n,nw
				[/filter_adjacent_location]
				[not]
					terrain=M*^*
				[/not]
			[/terrain]
		[/then]
	[/if]
	[terrain]
		terrain=Mv
		[and]
			terrain=Ql
			[filter_adjacent_location]
				terrain=Md^Xm,Md
				count=3
				adjacent=se,s,sw
			[/filter_adjacent_location]
		[/and]
	[/terrain]
	[store_locations]
		terrain=Mv
		variable=terrain_to_change
	[/store_locations]
	{FOREACH terrain_to_change i}
		[sound_source]
			id=volcano$i
			sounds=rumble.ogg
			delay=450000
			chance=1
			x=$terrain_to_change[$i].x
			y=$terrain_to_change[$i].y
			full_range=5
			fade_range=5
			loop=0
		[/sound_source]
	{NEXT i}
	## some volcanic coast and reefs
	[store_locations]
		terrain=Ww,Wo
		[filter_adjacent_location]
			terrain=S*^*
		[/filter_adjacent_location]
		variable=terrain_to_change
	[/store_locations]
	{WCT_FRACTION_REPLACE 2 Uue}
	[store_locations]
		terrain=Ww,Wo
		[filter_adjacent_location]
			terrain=Uu*,Ur,Uh,D*^*
		[/filter_adjacent_location]
		variable=terrain_to_change
	[/store_locations]
	{RANDOM 9..11}
	{WCT_FRACTION_REPLACE $random Uue,Wwr}
	[store_locations]
		terrain=Ds
		[filter_adjacent_location]
			terrain=U*,S*^*,W*^*,Gd,Rd
		[/filter_adjacent_location]
		variable=terrain_to_change
	[/store_locations]
	{RANDOM 9..11}
	{WCT_FRACTION_REPLACE $random Uue}
	[store_locations]
		terrain=Ds
		[filter_adjacent_location]
			terrain=U*
		[/filter_adjacent_location]
		variable=terrain_to_change
	[/store_locations]
	{RANDOM 9..11}
	{WCT_FRACTION_REPLACE $random Uue}
	## rubble
	[store_locations]
		terrain=Hhd
		[filter_adjacent_location]
			terrain=Rd*^*
		[/filter_adjacent_location]
		[and]
			terain=U*^*,Md^Xm,Q*^*,Mv
			radius=4
		[/and]
		variable=terrain_to_change
	[/store_locations]
	{RANDOM 16..20}
	{WCT_FRACTION_REPLACE $random Rd^Dr,Hhd^Dr}
	[store_locations]
		terrain=Hhd
		[filter_adjacent_location]
			terrain=U*^*
		[/filter_adjacent_location]
		variable=terrain_to_change
	[/store_locations]
	{RANDOM 10..15}
	{WCT_FRACTION_REPLACE $random Ur^Dr,Hhd^Dr}
	[store_locations]
		terrain=Uh
		variable=terrain_to_change
	[/store_locations]
	{RANDOM 9..13}
	{WCT_FRACTION_REPLACE $random Uu^Dr,Uh^Dr}
	## mushrooms, base amount in map surface
	[store_locations]
		terrain=Hhd,Hhd^F^*
		variable=terrain_to_change
	[/store_locations]
	[store_map_dimensions]
		variable=map_data.dim
	[/store_map_dimensions]
	{VARIABLE map_data.surface "$($map_data.dim.height*$map_data.dim.width)"}
	{RANDOM "$($map_data.surface/600)".."$($map_data.surface/300)"}
	{SHUFFLE_ARRAY terrain_to_change}
	{REPEAT_IT $random mush_i (
		[if]
			[variable]
				name=terrain_to_change.length
				greater_than=$mush_i
			[/variable]
			[then]
				[terrain]
					x=$terrain_to_change[$mush_i].x
					y=$terrain_to_change[$mush_i].y
					terrain=Hhd^Uf
				[/terrain]
			[/then]
		[/if]
	)}
	## chances of few orcish castles
	{WCT_POSSIBLE_MAP4_CASTLE Co 2}
	## craters
	[store_locations]
		terrain=Dd
		variable=terrain_to_change
	[/store_locations]
	{RANDOM 4..6}
	{WCT_FRACTION_REPLACE $random Dd^Dc}
	## grass near muddy or earthy cave become dark dirt
	[terrain]
		terrain=Rb
		[and]
			terrain=G*^*
		[/and]
		[filter_adjacent_location]
			terrain=S*^*,Uue
			count=2-6
		[/filter_adjacent_location]
	[/terrain]
	## some small mushrooms on dark dirt
	[store_locations]
		terrain=Rb
		variable=terrain_to_change
	[/store_locations]
	{RANDOM 9..11}
	{WCT_FRACTION_REPLACE $random Rb^Em}
	## some extra reefs
	[store_locations]
		terrain=Ww,Wo
		[filter_adjacent_location]
			terrain=Ds,Ww,Uu
		[/filter_adjacent_location]
		variable=terrain_to_change
	[/store_locations]
	{RANDOM 18..22}
	{WCT_FRACTION_REPLACE $random Wwr}
	## whirpools
	[store_locations]
		terrain=Ww
		[filter_adjacent_location]
			terrain=Wo
		[/filter_adjacent_location]
		[filter_adjacent_location]
			terrain=Uue
		[/filter_adjacent_location]
		variable=terrain_to_change
	[/store_locations]
	{RANDOM 4..15}
	{VARIABLE random "$($terrain_to_change.length/$random)"}
	{SHUFFLE_ARRAY terrain_to_change}
	{REPEAT_IT $random whirlpool_i (
		[item]
			x=$terrain_to_change[$whirlpool_i].x
			y=$terrain_to_change[$whirlpool_i].y
			image=scenery/whirlpool.png
		[/item]
		[sound_source]
			id=volcano$i
			sounds=mermen-hit.wav
			delay=90000
			chance=1
			x=$terrain_to_change[$whirlpool_i].x
			y=$terrain_to_change[$whirlpool_i].y
			full_range=5
			fade_range=5
			loop=0
		[/sound_source]
	)}
	## dessert sand no near water or village
	[terrain]
		terrain=Dd
		[filter_adjacent_location]
			terrain=W*^*,*^V*
			count=0
		[/filter_adjacent_location]
		[and]
			terrain=Ds
		[/and]
		variable=terrain_to_change
	[/terrain]
	## very dirt coast
	[store_locations]
		terrain=Ds
		variable=terrain_to_change
	[/store_locations]
	{RANDOM 3..4}
	{WCT_FRACTION_REPLACE $random Ds^Esd}
	{WCT_FRACTION_REPLACE 6 Ds^Es}
	[store_locations]
		terrain=Dd
		variable=terrain_to_change
	[/store_locations]
	{RANDOM 4..6}
	{WCT_FRACTION_REPLACE $random Dd^Es}
	[store_locations]
		terrain=Uue
		variable=terrain_to_change
	[/store_locations]
	{RANDOM 2..3}
	{WCT_FRACTION_REPLACE $random Uue^Es}
	[store_locations]
		terrain=Sm
		variable=terrain_to_change
	[/store_locations]
	{RANDOM 4..6}
	{WCT_FRACTION_REPLACE $random Sm^Es}
	## 1.12 new forest
	[store_locations]
		terrain=*^Fp
		variable=terrain_to_change
	[/store_locations]
	{RANDOM 6..10}
	{WCT_FRACTION_LAYER_REPLACE $random *^Ft overlay}
	[terrain]
		terrain=*^Ftd
		layer=overlay
		[and]
			terrain=H*^Ft
		[/and]
	[/terrain]
	[terrain]
		terrain=*^Fts
		layer=overlay
		[and]
			terrain=*^Ft
		[/and]
	[/terrain]
	[store_locations]
		terrain=*^Fmw
		variable=terrain_to_change
	[/store_locations]
	{RANDOM 4..7}
	{WCT_FRACTION_LAYER_REPLACE $random *^Fts overlay}
	[store_locations]
		terrain=*^Fms
		variable=terrain_to_change
	[/store_locations]
	{RANDOM 2..4}
	{WCT_FRACTION_LAYER_REPLACE $random *^Ft overlay}

	{RANDOM 0..19}
	[if]
		{VARIABLE_CONDITIONAL random equals 0}
		[then]
			{WCT_CHANGE_MAP_WATER g}
		[/then]
	[/if]
	[if]
		{VARIABLE_CONDITIONAL random equals 1}
		[then]
			{WCT_CHANGE_MAP_WATER t}
		[/then]
	[/if]
	{CLEAR_VARIABLE map_data}
#enddef
