## noise is just a postgeneration utility to add/remove rough terrain, softing heavy chunk shape look of generated maps
## macros in this file are the most complicated (and probably unefficient) ones (classic code). Some postgeneration files do similar task with shorter code.

#define WORLD_CONQUEST_TEK_MAP_NOISE_PROXY TERRAIN
[store_locations]
    terrain={TERRAIN}
    variable=terrain_to_change
[/store_locations]
{SHUFFLE_ARRAY terrain_to_change}
#{FOREACH terrain_to_change terrain_i}
## it is a slow algorithm, so we halve its length
{VARIABLE half_r $terrain_to_change.length}
{VARIABLE_OP half_r divide 2}
{FOREACH_FROM terrain_to_change $half_r terrain_i}
    {RANDOM n,ne,nw,s,se,sw}
    [store_locations]
        [filter_adjacent_location]
            x=$terrain_to_change[$terrain_i].x
            y=$terrain_to_change[$terrain_i].y
            adjacent=$random
        [/filter_adjacent_location]
        terrain={TERRAIN}
        variable=terrain_to_swap_b
    [/store_locations]
    [if]
        {VARIABLE_CONDITIONAL terrain_to_swap_b.length equals 1}
    [then]
        [store_locations]
            x=$terrain_to_change[$terrain_i].x
            y=$terrain_to_change[$terrain_i].y
            variable=terrain_to_swap_a
        [/store_locations]
        [terrain]
            terrain=$terrain_to_swap_b.terrain
            x=$terrain_to_swap_a.x
            y=$terrain_to_swap_a.y
        [/terrain]
        [terrain]
            terrain=$terrain_to_swap_a.terrain
            x=$terrain_to_swap_b.x
            y=$terrain_to_swap_b.y
        [/terrain]
    [/then]
    [/if]
    {CLEAR_VARIABLE terrain_to_swap_b,terrain_to_swap_a}
{NEXT terrain_i}
{CLEAR_VARIABLE terrain_to_change,half_r}
#enddef

#define WORLD_CONQUEST_TEK_MAP_NOISE_PROXY_2 TERRAIN
[store_locations]
    terrain={TERRAIN}
    variable=terrain_to_change
[/store_locations]
{SHUFFLE_ARRAY terrain_to_change}
#{FOREACH terrain_to_change terrain_i}
## it is a slow algorithm, so we halve its length
{VARIABLE half_r $terrain_to_change.length}
{VARIABLE_OP half_r divide 2}
{FOREACH_FROM terrain_to_change $half_r terrain_i}
    [store_locations]
        [and]
            x=$terrain_to_change[$terrain_i].x
            y=$terrain_to_change[$terrain_i].y
            radius=2
        [/and]
        terrain={TERRAIN}
        variable=terrain_to_swap_b
    [/store_locations]
    [if]
        {VARIABLE_CONDITIONAL terrain_to_swap_b.length greater_than 0}
    [then]
        {RANDOM_INDEX terrain_to_swap_b}
        [store_locations]
            x=$terrain_to_change[$terrain_i].x
            y=$terrain_to_change[$terrain_i].y
            variable=terrain_to_swap_a
        [/store_locations]
        [terrain]
            terrain=$terrain_to_swap_b[$random].terrain
            x=$terrain_to_swap_a.x
            y=$terrain_to_swap_a.y
        [/terrain]
        [terrain]
            terrain=$terrain_to_swap_a.terrain
            x=$terrain_to_swap_b[$random].x
            y=$terrain_to_swap_b[$random].y
        [/terrain]
    [/then]
    [/if]
     {CLEAR_VARIABLE terrain_to_swap_b,terrain_to_swap_a}
{NEXT terrain_i}
{CLEAR_VARIABLE terrain_to_change,half_r}
#enddef

#define WORLD_CONQUEST_TEK_MAP_NOISE_CLASSIC TREE
[store_map_dimensions]
    variable=map_max
[/store_map_dimensions]
{REPEAT_FROM_TO 1 $map_max.width I}
    {REPEAT_FROM_TO 1 $map_max.height J}
        {VARIABLE random 0}
        [if]
            [have_location]
                x,y=$I,$J
                terrain=Gs
            [/have_location]
        [then]
            {VARIABLE_OP random rand 0..8}
            {VARIABLE terrain Gs^Ft,Gs^Ft,Hh,Hh,Hh}
        [/then]
        [/if]
        [if]
            [have_location]
                x,y=$I,$J
                terrain=Dd
            [/have_location]
        [then]
            {VARIABLE_OP random rand 0..9}
            {VARIABLE terrain Hd,Hd,Hd,Hd,Hd,Hd,Hd,Hd,Dd^Dr,Gs^Ft,Dd^Do}
        [/then]
        [/if]
        [if]
            [have_location]
                x,y=$I,$J
                terrain=Gg
            [/have_location]
        [then]
            {VARIABLE_OP random rand 0..9}
            {VARIABLE terrain {TREE},{TREE},Hh,Hh,Hh}
        [/then]
        [/if]
        [if]
            [have_location]
                x,y=$I,$J
                terrain=Aa
            [/have_location]
        [then]
            {VARIABLE_OP random rand 0..9}
            {VARIABLE terrain Aa^Fpa,Aa^Fpa,Sm^Em,Ha,Ha,Ha}
        [/then]
        [/if]
        [if]
            [have_location]
                x,y=$I,$J
                terrain=Uu,Uh,Uu^Uf
            [/have_location]
        [then]
            {VARIABLE_OP random rand 0..12}
            {VARIABLE terrain Ur,Uu^Uf,Uh,Uu}
        [/then]
        [/if]
        [if]
            [have_location]
                x,y=$I,$J
                terrain=Mm
            [/have_location]
        [then]
            {VARIABLE_OP random rand 0..14}
            {VARIABLE terrain Gs,Gs,Gs,Gs,Hh,Hh,Hh,{TREE},{TREE},{TREE},Mm^Xm}
        [/then]
        [/if]
        [if]
            [have_location]
                x,y=$I,$J
                terrain=Hh
            [/have_location]
        [then]
            {VARIABLE_OP random rand 0..18}
            {VARIABLE terrain Gs,Gs,Gs,Gs,Gs,Gs,{TREE},{TREE},{TREE},Mm}
        [/then]
        [/if]
        [if]
            [have_location]
                x,y=$I,$J
                terrain=Ha
            [/have_location]
        [then]
            {VARIABLE_OP random rand 0..18}
            {VARIABLE terrain Aa,Aa,Aa,Aa,Sm^Em,Ai,Aa^Fpa,Aa^Fpa,Aa^Fpa,Mm}
        [/then]
        [/if]
        [if]
            [have_location]
                x,y=$I,$J
                terrain=Gs^Fp,Gs^Ft,Gg^Fet
            [/have_location]
        [then]
            {VARIABLE_OP random rand 0..22}
            {VARIABLE terrain Gs,Gs,Gs,Gs,Gs,Gs,Gg^Fet,Hh,Hh,Hh,Hh}
        [/then]
        [/if]
        [if]
            [have_location]
                x,y=$I,$J
                terrain=Aa^Fpa
            [/have_location]
        [then]
            {VARIABLE_OP random rand 0..22}
            {VARIABLE terrain Aa,Aa,Aa,Aa,Ai,Sm^Em,Gg^Fet,Ha,Ha,Ha,Ha}
        [/then]
        [/if]
        [if]
            ## Clasic WC: lava and water don't mix!
            ## tekelili: I dont agree, but didnt change it
            [have_location]
                x,y=$I,$J
                terrain=Ww
            [/have_location]
            [have_location]
                [and]
                    x,y=$I,$J
                    radius=1
                [/and]
                terrain=Ql,Qlf
            [/have_location]
        [then]
            {VARIABLE random 8}
            {VARIABLE terrain Rd,Rd}
        [/then]
        [/if]
        [if]
            ## open up passes into caves: impassable mountains that border cave wall and have both cave and noncave hexes get downgraded into plain mountain
            [have_location]
                x,y=$I,$J
                terrain=Mm^Xm
            [/have_location]
            [have_location]
                [and]
                    x,y=$I,$J
                    radius=1
                [/and]
                terrain=Xu
            [/have_location]
            [have_location]
                [and]
                    x,y=$I,$J
                    radius=1
                [/and]
                terrain=Uu,Uh,Uu^Uf
            [/have_location]
            [have_location]
                [and]
                    x,y=$I,$J
                    radius=1
                [/and]
                [not]
                    terrain=Uu,Uh,Uu^Uh,Xu
                [/not]
            [/have_location]
        [then]
            {VARIABLE random 8}
            {VARIABLE terrain Mm,Mm}
        [/then]
        [/if]
        [if]
            [variable]
                name=random
                greater_than_equal_to=8
            [/variable]
        [then]
            {VARIABLE_OP random rand $terrain}
            [terrain]
                x,y=$I,$J
                terrain=$random
            [/terrain]
        [/then]
        [/if]
    {NEXT J}
{NEXT I}
{CLEAR_VARIABLE terrain,map_max}
#enddef

#define WORLD_CONQUEST_TEK_MAP_NOISE_MARITIME
[store_map_dimensions]
    variable=map_max
[/store_map_dimensions]
{REPEAT_FROM_TO 1 $map_max.width I}
    {REPEAT_FROM_TO 1 $map_max.height J}
        {VARIABLE random 0}
        [if]
            [have_location]
                x,y=$I,$J
                terrain=Gs
            [/have_location]
        [then]
            {VARIABLE_OP random rand 0..8}
            {VARIABLE terrain Gs^Fp,Gs^Fp,Hh,Hh,Hh}
        [/then]
        [/if]
        [if]
            [have_location]
                x,y=$I,$J
                terrain=Gg
            [/have_location]
        [then]
            {VARIABLE_OP random rand 0..9}
            {VARIABLE terrain Gg^Fet,Gg^Fet,Hh,Hh,Hh}
        [/then]
        [/if]
        [if]
            [have_location]
                x,y=$I,$J
                terrain=Gd
            [/have_location]
        [then]
            {VARIABLE_OP random rand 0..9}
            {VARIABLE terrain Gd^Fmw,Gd^Fp,Hh^Fmw,Hh,Mm,Hh,Hh}
        [/then]
        [/if]
        [if]
            [have_location]
                x,y=$I,$J
                terrain=Aa
            [/have_location]
        [then]
            {VARIABLE_OP random rand 0..9}
            {VARIABLE terrain Aa^Fpa,Aa^Fpa,Wwf,Ha,Ha,Ha}
        [/then]
        [/if]
        [if]
            [have_location]
                x,y=$I,$J
                terrain=Uu,Uh,Uu^Uf
            [/have_location]
        [then]
            {VARIABLE_OP random rand 0..12}
            {VARIABLE terrain Ur,Uu^Uf,Uh,Uu}
        [/then]
        [/if]
        [if]
            [have_location]
                x,y=$I,$J
                terrain=Mm
            [/have_location]
        [then]
            {VARIABLE_OP random rand 0..13}
            {VARIABLE terrain Gs,Gs,Gs,Gs,Hh,Hh,Hh,Gs^Fp,Gs^Fp,Gs^Fp,Mm^Xm}
        [/then]
        [/if]
        [if]
            [have_location]
                x,y=$I,$J
                terrain=Hh
            [/have_location]
        [then]
            {VARIABLE_OP random rand 0..17}
            {VARIABLE terrain Gs,Gs,Gs,Gs,Gs,Gs,Gs^Fp,Gs^Fp,Gs^Fp,Mm}
        [/then]
        [/if]
        [if]
            [have_location]
                x,y=$I,$J
                terrain=Ha
            [/have_location]
        [then]
            {VARIABLE_OP random rand 0..18}
            {VARIABLE terrain Aa,Aa,Aa,Aa,Wwf,Ai,Aa^Fpa,Aa^Fpa,Aa^Fpa,Mm}
        [/then]
        [/if]
        [if]
            [have_location]
                x,y=$I,$J
                terrain=G*^F*
            [/have_location]
        [then]
            {VARIABLE_OP random rand 0..8}
            {VARIABLE terrain Mm,Hh,Hh}
        [/then]
        [/if]
        [if]
            [have_location]
                x,y=$I,$J
                terrain=Aa^Fpa
            [/have_location]
        [then]
            {VARIABLE_OP random rand 0..22}
            {VARIABLE terrain Aa,Aa,Aa,Aa,Ai,Wwf,Gg^Fet,Ha,Ha,Ha,Ha}
        [/then]
        [/if]
        [if]
            ## open up passes into caves: impassable mountains that border cave wall and have both cave and noncave hexes get downgraded into plain mountain
            [have_location]
                x,y=$I,$J
                terrain=Mm^Xm
            [/have_location]
            [have_location]
                [and]
                    x,y=$I,$J
                    radius=1
                [/and]
                terrain=Xu
            [/have_location]
            [have_location]
                [and]
                    x,y=$I,$J
                    radius=1
                [/and]
                terrain=Uu,Uh,Uu^Uf
            [/have_location]
            [have_location]
                [and]
                    x,y=$I,$J
                    radius=1
                [/and]
                [not]
                    terrain=Uu,Uh,Uu^Uh,Xu
                [/not]
            [/have_location]
        [then]
            {VARIABLE random 8}
            {VARIABLE terrain Mm,Mm}
        [/then]
        [/if]
        [if]
            [variable]
                name=random
                greater_than_equal_to=8
            [/variable]
        [then]
            {VARIABLE_OP random rand $terrain}
            [terrain]
                x,y=$I,$J
                terrain=$random
            [/terrain]
        [/then]
        [/if]
    {NEXT J}
{NEXT I}
{CLEAR_VARIABLE terrain,map_max}
#enddef








